<div class="blog-demo-main">
  <h2 class="blog-title"> {{ section.settings.title-blog }}</h2>
  <div class="view-botton">
      <a class="viewall-button" href="/blogs/news">View All</a>
    </div>
  <div class="blog-parent">
    
       
    
        {% assign blo = section.settings.blog %}
        {% for article in blogs[blo].articles %}
       <div class="blog-img-content">   
         <div> 
            <img class="blog-img" src="{{- article.image | image_url: width: 361  }} "/>   
            <h2 class="demo-blog-title">{{- article.title -}} </h2><br/>
            <p class="blog-content">{{- article.excerpt | strip_html  }}</p>
            <div class="readmore-button">
              <p style="padding-bottom:12px; margin-top:7px;"><a class="readmore" href="{{ article.url }}">Read more</a></p>
            </div>  
         </div>
        </div>
        {% endfor %}
    
  </div> 
</div>
<style>
  .viewall-button{
    background: linear-gradient(to bottom,#ffee00 0,#ffb800 100%);
    font-size: 18px;
    font-family: Proxima Nova Rg;
    border: none;
    color: #000;
    text-transform: capitalize;
    padding: 10px 20px;
    line-height: 34px;
    height: auto;
    border-radius: 3px;
    width:6%;
  }
  .blog-demo-main{
    max-width: 1211px;
    margin: auto;
  }
  .blog-img-content{
    width:30%;
    text-align: center;
    box-shadow: 1px 3px 4px #ccc;
    border-radius: 10px;
  }
  .blog-parent{
    display:flex;
    justify-content: space-between;
  }
  .view-botton{
    margin-bottom:40px;
    text-align: end;
  }
  .blog-title{
    text-align: center;
    color: #232323;
    font-size: 50px;
    font-family: Proxima Nova Rg;
    letter-spacing: .05em;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 15px;
  }
  .demo-blog-title{
    font-size: 18px;
    font-family: Proxima Nova Rg;
    font-weight: 600;
    padding-bottom:0;
    margin-bottom:0;
  }
  .blog-content{
    font-size: 18px;
    font-family: Proxima Nova Rg;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
  }
  .readmore{
    float: right;
    padding-right: 15px;
    font-size: 15px;
    font-family: proxima_novasemibold;
    color: #000;
    font-weight: 700;
  }
  .readmore-button{
    border-top: 1px solid #ccc;
  }
  .blog-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  @media only screen and (max-width: 500px){
/* For mobile phone: */
  .blog-parent{
    overflow: scroll;
  }
  .blog-img-content{
    width:80%;
    margin-right:15px;
  }
  .blog-img{
    width:225px;
  }
  .view-botton{
    margin-right:10px;
  }
  .blog-demo-main{
    padding:0 20px;
  }
  }
</style>
{% schema %}
  {
    "name": "blogs",
    "settings": [
     
      {
      "id": "title-blog",
      "type": "text",
      "label": "Blog-text"
    },{
      "type": "blog",
      "id": "blog",
      "label": "Add Blog Category"
    }
    ],
          "blocks": [
  {
    "type": "text",
    "name": " Add menu",
   "settings": [
        
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}