<div class="header-1main">
  <div class="footer-parant">
    <div>
      <img class="footer1logo" src="{{ section.settings.footer1logo | image_url }} "/>
    </div>
    <div>
           <ul class="footer-option">
  {% for link in linklists.footer.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <li class="footer-friest-child">
          <a class="mainchilde" href="{{ link.url }}">{{ link.title }}</a>
         <ul class="footer-grandchilde">
           {% for childlink in linklists[child_list_handle].links %}
               <li class="" ><a class="mainchilde" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            
          {% endfor %}
         </ul>
        </li>
        {%- for grandchildlink in childlink.links -%}
          <li class="" >
            <a class="mainchilde" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
              {{ grandchildlink.title | escape }}
            </a>
          </li>
        {%- endfor -%}
    {% else %}
        <li class="footer-friest-child"><a class="mainchilde" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
{% endfor %}
  </ul>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("mainchilde").click(function(){
    $("footer-grandchilde").toggle();
  });
});
</script>

{{ 'footer-1-css.css' | asset_url |stylesheet_tag }}
{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
      "type": "image_picker",
      "id": "footer1logo",
      "label": "footer-1 logo"
    }
    ]
  }
{% endschema %}
{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
