<div class="header-1main">
  <div class="footer-parant">
    <div>
      <img class="footer1logo" src="{{ section.settings.footer1logo | image_url }} "/>
    </div>
    <div>
            {%- for block in section.blocks -%} 
           <ul class="footer-option"> 
      
        {% assign foo = block.settings.footer %}
  {% for link in linklists[foo].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <li class="footer-friest-child">
          <span class="mainchilde"> {{ link.title }} </span>
         <ul class="footer-grandchilde">
           {% for childlink in linklists[child_list_handle].links %}
               <li class="" ><a class="mainchilde-sub-class" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            
          {% endfor %}
         </ul>
        </li>
        {%- for grandchildlink in childlink.links -%}
          <li class="" >
            <a class="mainchilde-sub-class" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
              {{ grandchildlink.title | escape }}
            </a>
          </li>
        {%- endfor -%}
    {% else %}
        <li class="footer-friest-child"><a class="mainchilde-sub-class" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
{% endfor %}
       
  </ul>
  {% endfor %}
    </div>
  </div>
  <div class="socialmedia-logos">
    <img class="socialmedia-logo-imges" src="{{ section.settings.socialmedia-logo | image_url }} "/>
    <p class="copy-text">@2023 Only Demo Page. All Right Reserved. </p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".mainchilde").click(function(){
       $('.footer-friest-child').removeClass("active");
        $(this).parent().addClass("active");
  });
});
</script>

{{ 'footer-1-css.css' | asset_url |stylesheet_tag }}
{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
      "type": "image_picker",
      "id": "footer1logo",
      "label": "footer-1 logo"
    },
      {
      "type": "image_picker",
      "id": "socialmedia-logo",
      "label": "socialmedia-logo"
    }
    ],
         "blocks": [
  {
    "type": "text",
    "name": " Add menu",
   "settings": [
        {
      "type": "link_list",
      "id": "footer",
      "label": "Menu"
    }
   ]
  }
  ]
  }
{% endschema %}
{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
