<div class="main">
  <div class="parant">
    <div class="section-1">
      <div class="header-icons">
        <img src="{{ section.settings.logo | image_url }} "/>
        
<!--         <div>
          {%- for block in section.blocks -%}
          <a class="linktext" href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
        </div> -->
        <div>
            <ul>
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <li class="list-style">
          <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
          <ul class="grandclidehideshow">
           {% for childlink in linklists[child_list_handle].links %}
               <li class="" ><a class="linktext" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            
          {% endfor %}
         </ul>
        </li>
        {%- for grandchildlink in childlink.links -%}
          <li class="list-style" >
            <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
              {{ grandchildlink.title | escape }}
            </a>
          </li>
        {%- endfor -%}

      
       
     
    {% else %}
    
        <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
      
      
    {% endif %}
{% endfor %}
  </ul>
        </div>
        <div>
          <a class="icons" href=""><img src="{{ section.settings.icons | image_url}}"/></a>
          <a class="icons" href=""><img src="{{ section.settings.icons-1 | image_url}}"/></a>
          <a class="icons" href=""><img src="{{ section.settings.icons-2 | image_url}}"/></a>
          <a class="" href=""><img src="{{ section.settings.icons-3 | image_url}}"/></a>
        </div>
      </div>
      
    
        
    </div>
  </div>
</div>

<style> .list-style:hover .grandclidehideshow {
  display: block;
}
  .linktext{
        text-decoration: none;
  }
  .list-style{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .grandclidehideshow{
    display:none;
    padding:0;
    position: absolute;
    z-index: 5;
    background: #dfc55b;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  .header-icons{
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 15px 20px;
  }
  .linktext{
    text-decoration: none;
    color: white;
    padding-right: 45px;
  }
  .icons{
    padding-right:10px;
  }
  .owl-carousel{
    display: inherit;
  }
   ul {
  list-style-type: none;
}
</style>
{% schema %}
  {
    "name": "header section",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "painting-image-1"
    },
    {
      "type": "image_picker",
      "id": "icons",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-1",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-2",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-3",
      "label": "painting-image-1"
    }

    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}