<div class="main">
  <div class="parant">
    <div class="section1">
      <div class="mobilemenuicon">
        <img src="{{ section.settings.mobilemenuicon | image_url }} "/>
      </div>
      <div>
        <img src="{{ section.settings.logo | img_url }}"/>
      </div>
<!--       <div>
          {%- for block in section.blocks -%}
          <a class="linktext" href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
      </div> -->
      <div class="mobilestructure">
          <ul>
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <li class="list-style">
          <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
         <ul class="grandclidehideshow">
           {% for childlink in linklists[child_list_handle].links %}
               <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            
          {% endfor %}
         </ul>
        </li>
        {%- for grandchildlink in childlink.links -%}
          <li class="list-style" >
            <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
              {{ grandchildlink.title | escape }}
            </a>
          </li>
        {%- endfor -%}

      
       
     
    {% else %}
    
        <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
      
      
    {% endif %}
{% endfor %}
  </ul>
      </div>
      <div class="potition-1">
        <div class="signup-logo">
          <img src="{{ section.settings.logo-2 | img_url }}"/>
        </div>
        <div class="signup-logo">
          <p>{{ section.settings.signup }}</p>
        </div>
      </div>  
    </div>
  </div>
  
</div>
<style>
 
   .list-style:hover .grandclidehideshow {
  display: block;
}
  .linktext{
    text-decoration: none;
    padding:0;
    color:black;
  }
  .list-style{
   position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left:45px;
  }
  .grandclidehideshow{
    display:none;
    padding:0;
    position: absolute;
    z-index: 5;
    background: black;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 1px 3px 4px white;
  }
  .signup-logo{
    padding-right:10px;
    margin:0;
  }
  .potition-1{
    display: flex;
    align-items: center;
  }
  .section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
  }
  ul {
  list-style-type: none;
}
  .linktext-2{
    color:white;
    text-decoration: none;
  }
  .mobilemenuicon{
    display:none;
  }
 
@media only screen and (max-width: 500px){
/* For mobile phone: */
  .mobil;emenuicon{
  display:block;
  }
  .mobilestructure{
    left: -10px;
    position: fixed;
    height: 100%;
    z-index: 17;
    background: #ffffffba;
    width: 100%;
    top: 0px;
    }
  .list-style{    
    display: block;
    padding-bottom:10px;
    padding-left:0;
  }
  .linktext{
    font-size:19px
  }
  }
}
</style>
{% schema %}
  {
    "name": "header-1",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "bannaer-image-1"
    },
    {
      "type": "text",
      "id": "signup",
      "label": "sign-up text"
    },
    {
      "type": "image_picker",
      "id": "logo-2",
      "label": "logo-2"
    },
       {
      "type": "image_picker",
      "id": "mobilemenuicon",
      "label": "mobilemenuicon-1"
    }
    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}