<div class="main">
  <div class="parant">
    <div class="section-1">
      <div class="header-icons">
        <img src="{{ section.settings.logo | image_url }} "/>
        <div>
          {%- for block in section.blocks -%}
          <a class="linktext" href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
        </div>
        <div>
          <a class="icons" href=""><img src="{{ section.settings.icons | image_url}}"/></a>
          <a class="icons" href=""><img src="{{ section.settings.icons-1 | image_url}}"/></a>
          <a class="icons" href=""><img src="{{ section.settings.icons-2 | image_url}}"/></a>
          <a class="" href=""><img src="{{ section.settings.icons-3 | image_url}}"/></a>
        </div>
      </div>
      
       <div class="banner-slider owl-carousel owl-theme">
        <div>
        <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
        </div>
        <div>
        <img class="banner-image" src="{{ section.settings.bannerimages | image_url}}"/>
        </div>
    </div>
    
        
    </div>
  </div>
</div>

  <div class="{{ section.settings.demoleftright }}"> 
    <div style="display:flex; justify-content: space-around;">
     {% if demoleftright ==  demoleftright %}
    <div class="Insert " >Insert your content to be shown here</div>
      {% else %}
       its wrong
      {% endif %}
    {% if demoleftright =='demoleftright' %}
    <div class="logo" >logo</div>
      {% else %}
      demoleftright
    {% endif %}
    {% if demoleftright =='demoleftright' %}
    <div class="right-content">right content</div> 
      {% else %}
      demoleftright wrong
    {% endif %}
    </div>
 </div> 
<style>
  .Insert{
     order:2;
    }
    .logo{
      order:1;
    }
    .right-content{
      order:3;
    }
    .right>.right-content{
       order:1;
    }
    .right>.logo{
       order:3;
    }
     .right>.Insert {
    order: 2;
    }
    .center>.Insert {
    order: 1;
}
     .center>.right-content{
       order:2;
    }
    .center>.logo{
       order:3;
    }
  .banner-image{
    width:100%;
  }
  .header-icons{
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 15px 20px;
  }
  .linktext{
    text-decoration: none;
    color: white;
    padding-right: 8px;
  }
  .icons{
    padding-right:10px;
  }
  .owl-carousel{
    display: inherit;
  }
  
</style>
{% schema %}
  {
    "name": "header section",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "painting-image-1"
    },
    {
      "type": "image_picker",
      "id": "icons",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-1",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-2",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-3",
      "label": "painting-image-1"
    },
         {
      "type": "image_picker",
      "id": "bannerimages",
      "label": "bannaer-image-1"
    },
    {
        "type": "select",
        "id": "demoleftright",
        "label": "Products per row",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          },
          {
            "value": "center",
            "label": "center"
          }
        ]
      }



    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}