<div class="main">
  <div class="parant">
    <div class="section1">
      
        
        <img class="closicon" src="{{ section.settings.mobilemenuicon | image_url }} "/>
      
      <div>
        <img src="{{ section.settings.logo | img_url }}"/>
      </div>
      <div class="mobilestructure">
          <img class="closicon" src="{{ section.settings.closeicon | img_url }}"/>
          <ul class="dropdwonmobilemenu">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <li class="list-style" >
          <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
          <img class="addicon" src="{{ section.settings.addicon | image_url }}"/>
         <ul class="grandclidehideshow">
           {% for childlink in linklists[child_list_handle].links %}
               <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            
          {% endfor %}
         </ul>
        </li>
        {%- for grandchildlink in childlink.links -%}
          <li class="list-style" >
            <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
              {{ grandchildlink.title | escape }}
            </a>
          </li>
        {%- endfor -%}
    {% else %}
        <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
{% endfor %}
  </ul>
      </div>
      <div class="potition-1">
        <div class="signup-logo">
          <img src="{{ section.settings.logo-2 | img_url }}"/>
        </div>
        <div class="signup-logo">
          <p>{{ section.settings.signup }}</p>
        </div>
        <div class="signup-logo">
          <img src="{{ section.settings.add-to-cart | image_url }}"
        </div>
      </div>  
    </div>
  </div>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".closicon").click(function(){
    $(".mobilestructure").toggle();
  });
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".addicon").click(function(){
    $(this).parent(".list-style").toggleClass('active');
  });
});
</script>
<style>
  .addicon{
    display: none;
  }
 .closicon{
   margin:0;
 }
 
  
  .linktext{
    text-decoration: none;
    padding:0;
    color:black;
  }
  .list-style{
   position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left:45px;
  }
  .grandclidehideshow{
    display:none;
    padding:0;
    position: absolute;
    z-index: 5;
    background: black;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 1px 3px 4px white;
  }
  .signup-logo{
    padding-right:10px;
    margin:0;
  }
  .potition-1{
    display: flex;
    align-items: center;
  }
  .section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
  }
  ul {
  list-style-type: none;
}
  .linktext-2{
    color:white;
    text-decoration: none;
  }
  .mobilemenuicon{
    display:none;
  }
 @media only screen and (min-width: 1024px){
/* For mobile phone: */
     .list-style:hover .grandclidehideshow {
  display: block;
}
   .closicon{
    display: none;
  }
 }
  @media only screen and (max-width: 840px){
/* For mobile phone: */
    .list-style{
      padding-left:20px;
    }
  }
  
@media only screen and (min-width: 500px){
/* For mobile phone: */
  .closicon{
  display:none;
  }
    
}
  
@media only screen and (max-width: 500px){
/* For mobile phone: */
  .mobil;emenuicon{
  display:block;
  }
  .mobilestructure{
    left: -10px;
    position: fixed;
    height: 100%;
    z-index: 17;
    background: #808080fa;
    width: 100%;
    top: 0px;
    }
  .list-style{    
    display: block;
    margin-bottom:10px;
    padding-left:0;
    border-bottom:1px solid black;
    padding-bottom:7px;
    width:94%;
  }
  .linktext{
    font-size:19px
  }
  .closicon {
    display: block;
    width: 27px;
    float: right;
  }
  .dropdwonmobilemenu{
    padding-left:25px;
    margin-top:15%;
  }
   .addicon{
    display: block;
    float: right; 
  }
 
.grandclidehideshow{
  display:contents;        
  }
     .active .grandclidehideshow {
       display: none;
          }
}
</style>
{% schema %}
  {
    "name": "header-1",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "bannaer-image-1"
    },
    {
      "type": "text",
      "id": "signup",
      "label": "sign-up text"
    },
    {
      "type": "image_picker",
      "id": "logo-2",
      "label": "logo-2"
    },
       {
      "type": "image_picker",
      "id": "mobilemenuicon",
      "label": "mobilemenuicon-1"
    },
       {
      "type": "image_picker",
      "id": "add-to-cart",
      "label": "add-to-cart-icon"
    },
      {
      "type": "image_picker",
      "id": "closeicon",
      "label": "closeicon-1"
    },
      {
      "type": "image_picker",
      "id": "addicon",
      "label": "addicon-1"
    }
      
    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}