<div class="main">
  <div class="parant">
    <div class="section-1">
      <div class="header-icons">
        <img src="{{ section.settings.logo | image_url }} "/>
        <div>
          {%- for block in section.blocks -%}
          <a href="">{{ block.settings.catagary_text }}</a>
          {% endfor %}
        </div>
        <div>
          <a class="linktext" href=""><img src="{{ section.settings.icons | image_url}}"/></a>
          <a class="linktext"  href=""><img src="{{ section.settings.icons-1 | image_url}}"/></a>
          <a class="linktext"  href=""><img src="{{ section.settings.icons-2 | image_url}}"/></a>
          <a class="linktext"  href=""><img src="{{ section.settings.icons-3 | image_url}}"/></a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .header-icons{
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 15px 20px;
  }
  .linktext{
    text-decoration: none;
    color: white;
    padding-right: 8px;
  }
</style>
{% schema %}
  {
    "name": "header section",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "painting-image-1"
    },
    {
      "type": "image_picker",
      "id": "icons",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-1",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-2",
      "label": "painting-image-1"
    },
     {
      "type": "image_picker",
      "id": "icons-3",
      "label": "painting-image-1"
    }



    ],
        "blocks": [
  {
    "type": "text",
    "name": " COLLECTIONS",
   "settings": [
        {
        
        "type": "text",
        "id": "catagary_text",
        "label": "text"
        }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}