
<div class="row">
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>

<button id="stop">Stop sliding</button>

<div id="flip">Click to slide down panel</div>
<div id="panel">Hello world!</div>

<button>Start Animation</button>

<div style="background:#98bf21;height:100px;width:100px;position:absolute;"></div>
<h2>This is a heading</h2>

<p style="background-color:#ff0000">This is a paragraph.</p>
<p style="background-color:#00ff00">This is a paragraph.</p>
<p style="background-color:#0000ff">This is a paragraph.</p>
</div>

<div class="">
  <ol class="append-demo">
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip shapefilterClick" attname="shape" attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
  </ol>
  <button id="btn2">Append list item</button>
</div>

<style>
  .append-demo{
    display: flex;
    list-style-type: none;
  }
  .header-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  #panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{% schema %}
  {
    "name": "jquery-demo",
    "settings": [
        {
        "type": "image_picker",
        "id": "mx-online-logo-1",
        "label": "1 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-2",
        "label": "2 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-3",
        "label": "3 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-4",
        "label": "4 img"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}