
<div class="row">
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>

<button id="stop">Stop sliding</button>

<div id="flip">Click to slide down panel</div>
<div id="panel">Hello world!</div>

<button>Start Animation</button>

<div style="background:#98bf21;height:100px;width:100px;position:absolute;"></div>
<h2>This is a heading</h2>

<p style="background-color:#ff0000">This is a paragraph.</p>
<p style="background-color:#00ff00">This is a paragraph.</p>
<p style="background-color:#0000ff">This is a paragraph.</p>

<button>Return background-color of p</button>
<div class="jquery-demo">
  <div class="jquery-paraent">
    <div class="mega_menu_">
  <ul>
    <li>
      <a href="https://www.candere.com/trending/hot.html" class="parent_" data-menu="Trending">Trending</a>
      <div class="subMenu">
        <div class="mega_menu_inner trending_menu">
          <div class="item_menu item_left_">
            <div class="item">
              <a href="https://www.candere.com/trending/best-seller.html" data-menu="Trending/Bestsellers">Bestsellers</a>
              <a href="https://www.candere.com/bespoke-jewellery.html" data-menu="Trending/Bespoke">Bespoke</a>
              <a href="https://www.candere.com/gold-rate-protection.html" data-menu="Trending/DGRP">DGRP</a>
              <a href="https://www.candere.com/trending/new-arrivals.html" data-menu="Trending/New Arrivals">New Arrivals</a>
              <a href="https://www.candere.com/trending/our-picks-for-you.html" data-menu="Trending/Our Picks">Our Picks</a>
              <a href="https://www.candere.com/trending/express-delivery.html" data-menu="Trending/Express Delivery">Express
                Delivery</a>
              <a href="https://www.candere.com/jewellery/virtual-try-on.html" data-menu="Trending/Virtual Try On">Virtual Try
                On</a>
            </div>
          </div>

          <div class="item_image">
            <a href="https://www.candere.com/candere-about-us.html" data-menu="Trending/About Us" class="zooming_img_" id="trending_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Menu_Trending_170223.jpg"></a>
            <div class="banner_text">
              <a href="https://www.candere.com/candere-about-us.html" class="banner_cta hover_text" data-menu="Trending/About Us">About Us<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
              <p>Find out more about our story.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/rings.html" class="parent_" data-menu="Rings">Rings</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/diamond-engagement-rings.html" data-menu="Rings/Shop by Style/Engagement">Engagement</a>
              <a href="https://www.candere.com/jewellery/solitaire-rings.html" data-menu="Rings/Shop by Style/Solitaire">Solitaire</a>
              <a href="https://www.candere.com/jewellery/diamond-bands.html" data-menu="Rings/Shop by Style/Couple Bands">Couple
                Bands</a>
              <a href="https://www.candere.com/jewellery/diamond-dailywear-rings.html" data-menu="Rings/Shop by Style/Casual">Casual</a>
              <a href="https://www.candere.com/jewellery/diamond-eternity-rings.html" data-menu="Rings/Shop by Style/Eternity">Eternity</a>
              <a href="https://www.candere.com/jewellery/diamond-classic-rings.html" data-menu="Rings/Shop by Style/Classic">Classic</a>
              <a href="https://www.candere.com/jewellery/three-stone-diamond-rings.html" data-menu="Rings/Shop by Style/Three Stone">Three Stone</a>
              <a href="https://www.candere.com/jewellery/gemstone-navratna-rings.html" data-menu="Rings/Shop by Style/Navratna Rings">Navratna</a>
              <a href="https://www.candere.com/collections/spiritual/shopby/ring.html" data-menu="Rings/Shop by Style/Religious Rings">Religious</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/diamond-rings.html" data-menu="Rings/Shop by Material/Diamond">Diamond</a>
              <a href="https://www.candere.com/jewellery/gold-rings.html" data-menu="Rings/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/platinum-rings.html" data-menu="Rings/Shop by Material/Platinum">Platinum</a>
              <a href="https://www.candere.com/jewellery/gemstone-rings.html" data-menu="Rings/Shop by Material/Gemstone">Gemstone</a>
              <a href="https://www.candere.com/jewellery/swarovski-cz-rings.html" data-menu="Rings/Shop by Material/Swarovski / CZ">Swarovski / CZ</a>
              <a href="https://www.candere.com/jewellery/fusion-silver-rings.html" data-menu="Rings/Shop by Material/Silver + Gold">Silver + Gold</a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/rings-for-women.html" data-menu="Rings/Shop for/Women">Women</a>
              <a href="https://www.candere.com/jewellery/rings-for-men.html" data-menu="Rings/Shop for/Men">Men</a>
              <a href="https://www.candere.com/jewellery/rings-for-kids.html" data-menu="Rings/Shop for/Kids">Kids</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/rings.html?price=0.00-10000.00" data-menu="Rings/Shop for/Below 10k">Below <span>₹</span>10k</a>
              <a href="https://www.candere.com/jewellery/rings.html?price=10000.00-30000.00" data-menu="Rings/Shop for/10k to 30k"><span>₹</span>10k to 30k </a>
              <a href="https://www.candere.com/jewellery/rings.html?price=30000.00-50000.00" data-menu="Rings/Shop for/30k to 50k"><span>₹</span>30k to 50k</a>
              <a href="https://www.candere.com/jewellery/rings.html?price=50000.00-100000.00" data-menu="Rings/Shop for/Above 50k">Above <span>₹</span>50k</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/rings.html" data-menu="Rings/View all designs" class="zooming_img_" id="ring_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Ring-Category.jpg"></a>
            <div class="banner_text">
              <p>Etch a memory in with stunning fine rings!</p>
              <a href="https://www.candere.com/jewellery/rings.html" class="banner_cta hover_text" data-menu="Rings/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/earrings.html" class="parent_" data-menu="Earrings">Earrings</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/stud-earrings.html" data-menu="Earrings/Shop by Style/Studs">Studs</a>
              <a href="https://www.candere.com/jewellery/jhumkas.html" data-menu="Earrings/Shop by Style/Jhumka">Jhumka</a>
              <a href="https://www.candere.com/jewellery/dangle-earrings.html" data-menu="Earrings/Shop by Style/Dangles">Dangles</a>
              <a href="https://www.candere.com/jewellery/hoop-earrings.html" data-menu="Earrings/Shop by Style/Hoops">Hoops</a>
              <a href="https://www.candere.com/jewellery/sui-dhaga-earrings.html" data-menu="Earrings/Shop by Style/Sui Dhaga">Sui Dhaga</a>
              <a href="https://www.candere.com/jewellery/solitaire-earrings.html" data-menu="Earrings/Shop by Style/Solitaire">Solitaire</a>
              <a href="https://www.candere.com/jewellery/gemstone-navratna-earrings.html" data-menu="Earrings/Shop by Style/Navratna Earrings">Navratna</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/diamond-earrings.html" data-menu="Earrings/Shop by Material/Diamond">Diamond</a>
              <a href="https://www.candere.com/jewellery/gold-earrings.html" data-menu="Earrings/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/platinum-earrings.html" data-menu="Earrings/Shop by Material/Platinum">Platinum</a>
              <a href="https://www.candere.com/jewellery/gemstone-earrings.html" data-menu="Earrings/Shop by Material/Gemstone">Gemstone</a>
              <a href="https://www.candere.com/jewellery/swarovski-cz-earrings.html" data-menu="Earrings/Swarovski / CZ">Swarovski / CZ</a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/earrings-for-women.html" data-menu="Earrings/Shop for/Women">Women</a>
              <a href="https://www.candere.com/jewellery/earrings-for-men.html" data-menu="Earrings/Shop for/Men">Men</a>
              <a href="https://www.candere.com/jewellery/earrings-for-kids.html" data-menu="Earrings/Shop for/Kids">Kids</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/earrings.html?price=0.00-10000.00" data-menu="Earrings/Shop By/Below 10k">Below <span>₹</span>10k</a>
              <a href="https://www.candere.com/jewellery/earrings.html?price=10000.00-30000.00" data-menu="Earrings/Shop By/10k to 30"><span>₹</span>10k to 30k </a>
              <a href="https://www.candere.com/jewellery/earrings.html?price=30000.00-50000.00" data-menu="Earrings/Shop By/"><span>₹</span>30k to 50k</a>
              <a href="https://www.candere.com/jewellery/earrings.html?price=50000.00-100000.00" data-menu="Earrings/Shop By/Above 50k">Above <span>₹</span>50k</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/earrings.html" data-menu="Earrings/View all designs" class="zooming_img_" id="earring_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Earring-Category.jpg"></a>
            <div class="banner_text">
              <p>Some things in life always fit perfectly.</p>
              <a href="https://www.candere.com/jewellery/earrings.html" class="banner_cta hover_text" data-menu="Earrings/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/pendants.html" class="parent_" data-menu="Pendants">Pendants</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/initials-pendant.html" data-menu="Pendants/Shop by Style/Initials pendants">Initials Pendants</a>
              <a href="https://www.candere.com/jewellery/solitaire-pendants.html" data-menu="Pendants/Shop by Style/Solitaire pendants">Solitaire Pendants</a>
              <a href="https://www.candere.com/jewellery/pendant-with-chain.html" data-menu="Pendants/Shop by Style/Pendants with chain">Pendants with Chain</a>
              <a href="https://www.candere.com/jewellery/casual-pendant.html" data-menu="Pendants/Shop by Style/Casual pendants">Casual Pendants</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/gold-pendant.html" data-menu="Pendants/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/diamond-pendant.html" data-menu="Pendants/Shop by Material/Diamond">Diamond</a>
              <a href="https://www.candere.com/jewellery/platinum-pendant.html" data-menu="Pendants/Shop by Material/Platinum">Platinum</a>
              <a href="https://www.candere.com/jewellery/gemstone-pendant.html" data-menu="Pendants/Shop by Material/Gemstone">Gemstone</a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/womens-pendant.html" data-menu="Pendants/Shop For/Women">Women</a>
              <a href="https://www.candere.com/jewellery/mens-pendants.html" data-menu="Pendants/Shop For/Men">Men</a>
              <a href="https://www.candere.com/jewellery/kids-pendant.html" data-menu="Pendants/Shop For/Kids">Kids</a>
            </div>
            <div class="item">
              <p class="main_label">Shop By Occasion</p>
              <a href="https://www.candere.com/jewellery/pendants/shopby/daily_wear.html" data-menu="Pendants/Shop by Occasion/Daily wear">Daily wear</a>
              <a href="https://www.candere.com/jewellery/pendants/shopby/casual_outings.html" data-menu="Pendants/Shop by Occasion/Casual outings">Casual outings</a>
              <a href="https://www.candere.com/jewellery/pendants/shopby/anniversary.html" data-menu="Pendants/Shop by Occasion/Anniversary">Anniversary</a>
              <a href="https://www.candere.com/jewellery/pendants/shopby/wedding_1.html" data-menu="Pendants/Shop by Occasion/Wedding">Wedding</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/pendants.html" data-menu="Pendants/View all designs" class="zooming_img_" id="pendant_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Pendants.jpg"></a>
            <div class="banner_text">
              <p>Make a statement with the prettiest Pendants ever.</p>
              <a href="https://www.candere.com/jewellery/pendants.html" class="banner_cta hover_text" data-menu="Pendants/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/necklaces.html" class="parent_" data-menu="Necklace">Necklace</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/collar-necklace.html" data-menu="Necklace/Shop by Style/Collar">Collar</a>
              <a href="https://www.candere.com/jewellery/choker-necklace.html" data-menu="Necklace/Shop by Style/Choker">Choker</a>
              <a href="https://www.candere.com/jewellery/layered-necklace.html" data-menu="Necklace/Shop by Style/Layered">Layered</a>
              <a href="https://www.candere.com/jewellery/diamond-delicate-necklace.html" data-menu="Necklace/Shop by Style/Delicate">Delicate</a>
              <a href="https://www.candere.com/jewellery/rani-haar.html" data-menu="Necklace/Shop by Style/Rani Haar">Rani
                Haar</a>
              <a href="https://www.candere.com/jewellery/pendant-necklaces.html" data-menu="Necklace/Shop by Style/Pendant Necklace">Pendant Necklace</a>
              <a href="https://www.candere.com/jewellery/lariat-necklace.html" data-menu="Necklace/Shop by Style/Lariat">Lariat</a>
              <a href="https://www.candere.com/jewellery/rope-necklace.html" data-menu="Necklace/Shop by Style/Rope">Rope</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/diamond-necklace.html" data-menu="Necklace/Shop by Material/Diamond">Diamond</a>
              <a href="https://www.candere.com/jewellery/gold-necklaces.html" data-menu="Necklace/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/platinum-necklace.html" data-menu="Necklace/Shop by Material/Platinum">Platinum</a>
              <a href="https://www.candere.com/jewellery/gemstone-necklace.html" data-menu="Necklace/Shop by Material/Gemstone">Gemstone</a>
              <a href="https://www.candere.com/jewellery/swarovski-zirconia-necklace.html" data-menu="Necklace/Shop by Material/Swarovski / CZ">Swarovski / CZ</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/necklaces.html?price=10000.00-20000.00" data-menu="Necklace/Shop By/Below 20k">Below <span>₹</span>20k</a>
              <a href="https://www.candere.com/jewellery/necklaces.html?price=20000.00-40000.00" data-menu="Necklace/Shop By/20k to 40k"><span>₹</span>20k to 40k </a>
              <a href="https://www.candere.com/jewellery/necklaces.html?price=40000.00-60000.00" data-menu="Necklace/Shop By/40k to 60k"><span>₹</span>40k to 60k</a>
              <a href="https://www.candere.com/jewellery/necklaces.html?price=60000.00-110000.00" data-menu="Necklace/Shop By/Above 60k">Above <span>₹</span>60k</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/necklaces.html" data-menu="Necklace/View all designs" class="zooming_img_" id="necklace_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Necklace-Category.jpg"></a>
            <div class="banner_text">
              <p>Make a statement with the prettiest necklaces ever.</p>
              <a href="https://www.candere.com/jewellery/necklaces.html" class="banner_cta hover_text" data-menu="Necklace/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/bangles-and-bracelets.html" class="parent_" data-menu="Bangles &amp; Bracelets">Bangles &amp; Bracelets</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Bangles by Style</p>
              <a href="https://www.candere.com/jewellery/kada.html" data-menu="Bangles/Bangles by Style/Kada">Kada</a>
              <a href="https://www.candere.com/jewellery/delicate-bangles.html" data-menu="Bangles/Bangles by Style/Delicate">Delicate Bangles</a>
              <a href="https://www.candere.com/jewellery/broad-bangles.html" data-menu="Bangles/Bangles by Style/Broad">Broad Bangles</a>
              <a href="https://www.candere.com/jewellery/diamond-eternity-bangles.html" data-menu="Bangles/Bangles by Style/Eternity">Eternity Bangles</a>
              <a href="https://www.candere.com/jewellery/bangles.html" class="viewAll_cta" data-menu="Bangles/View all">VIEW BANGLES
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
            <div class="item">
              <p class="main_label">Bracelets by Style</p>
              <a href="https://www.candere.com/jewellery/chain-bracelets.html" data-menu="Bracelets/Bracelets by Style/Chain">Chain Bracelets</a>
              <a href="https://www.candere.com/jewellery/flexi-bracelets.html" data-menu="Bracelets/Bracelets by Style/Flexi">Flexi Bracelets</a>
              <a href="https://www.candere.com/jewellery/oval-bracelets.html" data-menu="Bracelets/Bracelets by Style/Oval">Oval Bracelets</a>
              <a href="https://www.candere.com/jewellery/tennis-bracelets.html" data-menu="Bracelets/Bracelets by Style/Tennis">Tennis Bracelets</a>
              <a href="https://www.candere.com/jewellery/bracelets.html" class="viewAll_cta" data-menu="Bracelets/View all">VIEW BRACELETS
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/gold-bangles.html" data-menu="Bangles/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/diamond-bangles.html" data-menu="Bangles/Shop by Material/Diamond">Diamond</a>
              <a href="https://www.candere.com/jewellery/platinum-bangles.html" data-menu="Bangles/Shop by Material/Platinum">Platinum</a>
              <a href="https://www.candere.com/jewellery/gemstone-bangles.html" data-menu="Bangles/Shop by Material/Gemstone">Gemstone</a>
              <a href="https://www.candere.com/jewellery/swarovski-bangles.html" data-menu="Bangles/Shop by Material/Swarovski / CZ">Swarovski / CZ</a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/womens-bracelet.html" data-menu="Bracelets/Shop by Gender/Women">Women</a>
              <a href="https://www.candere.com/jewellery/mens-kada.html" data-menu="Bangles/Shop by Gender/Men">Men</a>
              <a href="https://www.candere.com/jewellery/kids-kada.html" data-menu="Bangles/Shop by Gender/Kids">Kids</a>

              <p class="main_label sub_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/bangles.html?price=0.00-10000.00" data-menu="Bangles/Shop By/Below 10k">Below <span>₹</span>10k</a>
              <a href="https://www.candere.com/jewellery/bangles.html?price=10000.00-30000.00" data-menu="Bangles/Shop By/10k to 30k"><span>₹</span>10k to 30k </a>
              <a href="https://www.candere.com/jewellery/bangles.html?price=30000.00-50000.00" data-menu="Bangles/Shop By/30k to 50k"><span>₹</span>30k to 50k</a>
              <a href="https://www.candere.com/jewellery/bangles.html?price=50000.00-100000.00" data-menu="Bangles/Shop By/Above 50k">Above <span>₹</span>50k</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/bangles-and-bracelets.html" data-menu="Bangles/View all designs" class="zooming_img_" id="bangle_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Bangle-Bracelet-Category.jpg"></a>
            <div class="banner_text">
              <p>Give your wrists the much-needed makeover.</p>
              <a href="https://www.candere.com/jewellery/bangles-and-bracelets.html" class="banner_cta hover_text" data-menu="Bangles/View all designs">VIEW ALL DESIGNS 
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/mangalsutra.html" class="parent_" data-menu="Mangalsutra">Mangalsutra</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/mangalsutra-pendant.html" data-menu="Mangalsutra/Shop by Style/Mangalsutra Pendant">Mangalsutra Pendant</a>
              <a href="https://www.candere.com/jewellery/mangalsutra-with-chain.html" data-menu="Mangalsutra/Shop by Style/Mangalsutra with chain">Mangalsutra with Chain</a>
              <a href="https://www.candere.com/jewellery/mangalsutra-bracelet.html" data-menu="Mangalsutra/Shop by Style/Mangalsutra bracelets">Mangalsutra Bracelets</a>
              <a href="https://www.candere.com/jewellery/mangalsutra-chain.html" data-menu="Mangalsutra/Shop by Style/Mangalsutra chains">Mangalsutra Chains</a>
              <a href="https://www.candere.com/jewellery/solitaire-mangalsutra.html" data-menu="Mangalsutra/Shop by Style/Solitaire Mangalsutra">Solitaire Mangalsutra</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/gold-mangalsutra.html" data-menu="Mangalsutra/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/diamond-mangalsutra.html" data-menu="Mangalsutra/Shop by Material/Diamond">Diamond</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Occasion</p>
              <a href="https://www.candere.com/jewellery/mangalsutra/shopby/daily_wear.html" data-menu="Mangalsutra/Shop by Occasion/Daily wear">Daily wear</a>
              <a href="https://www.candere.com/jewellery/mangalsutra/shopby/casual_outings.html" data-menu="Mangalsutra/Shop by Occasion/Casual outings">Casual outings</a>
              <a href="https://www.candere.com/jewellery/mangalsutra/shopby/anniversary.html" data-menu="Mangalsutra/Shop by Occasion/Anniversary">Anniversary</a>
              <a href="https://www.candere.com/jewellery/mangalsutra/shopby/wedding_1.html" data-menu="Mangalsutra/Shop by Occasion/Wedding">Wedding</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/mangalsutra.html" data-menu="Mangalsutra/View all designs" class="zooming_img_" id="mangalsutra_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Mangalsutra.jpg"></a>
            <div class="banner_text">
              <p>Make a statement with the prettiest Mangalsutras ever.</p>
              <a href="https://www.candere.com/jewellery/mangalsutra.html" class="banner_cta hover_text" data-menu="Mangalsutra/View all designs">VIEW ALL DESIGNS 
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/chains.html" class="parent_" data-menu="Chains">Chains</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/gold-dailywear-chains.html" data-menu="Chains/Shop by Style/Dailywear">Dailywear</a>
              <a href="https://www.candere.com/jewellery/mangalsutra-chain.html" data-menu="Chains/Shop by Style/Mangalsutra Chains">Mangalsutra Chains</a>
              <a href="https://www.candere.com/jewellery/gold-handcrafted-chains.html" data-menu="Chains/Shop by Style/Handcrafted">Handcrafted</a>
              <a href="https://www.candere.com/jewellery/italian-chains.html" data-menu="Chains/Shop by Style/Italian">Italian</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by Material</p>
              <a href="https://www.candere.com/jewellery/gold-chains.html" data-menu="Chains/Shop by Material/Gold">Gold</a>
              <a href="https://www.candere.com/jewellery/platinum-chains.html" data-menu="Chains/Shop by Material/Platinum">Platinum</a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/women-chain.html" data-menu="Chains/Shop for/Women">Women</a>
              <a href="https://www.candere.com/jewellery/mens-chain.html" data-menu="Chains/Shop for/Men">Men</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/chains.html?price=0.00-20000.00" data-menu="Chains/Shop By/Below 10k">Below <span>₹</span>20k</a>
              <a href="https://www.candere.com/jewellery/chains.html?price=20000.00-30000.00" data-menu="Chains/Shop By/10k to 30k"><span>₹</span>20k to 30k </a>
              <a href="https://www.candere.com/jewellery/chains.html?price=30000.00-50000.00" data-menu="Chains/Shop By/30k to 50k"><span>₹</span>30k to 50k</a>
              <a href="https://www.candere.com/jewellery/chains.html?price=50000.00-100000.00" data-menu="Chains/Shop By/Above 50k">Above <span>₹</span>50k</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/chains.html" data-menu="Chains/View all designs" class="zooming_img_" id="chain_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Chain-Category.jpg"></a>
            <div class="banner_text">
              <p>Elevate your everyday looks with gold chains!</p>
              <a href="https://www.candere.com/jewellery/chains.html" class="banner_cta hover_text" data-menu="Chains/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery/just-solitaires.html" class="parent_" data-menu="Solitaires">Solitaires</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Shop by Style</p>
              <a href="https://www.candere.com/jewellery/solitaire-rings.html" data-menu="Solitaires/Shop by Style/Rings">Rings</a>
              <a href="https://www.candere.com/jewellery/solitaire-earrings.html" data-menu="Solitaires/Shop by Style/Earrings">Earrings</a>
              <a href="https://www.candere.com/jewellery/solitaire-pendants.html" data-menu="Solitaires/Shop by Style/Pendants">Pendants</a>
              <a href="https://www.candere.com/jewellery/solitaire-bangles.html" data-menu="Solitaires/Shop by Style/Bangles">Bangles</a>
              <a href="https://www.candere.com/jewellery/solitaire-nose-pins.html" data-menu="Solitaires/Shop by Style/Nosepins">Nosepins</a>
            </div>
            <div class="item shape_items">
              <p class="main_label">Loose Diamonds</p>
              <a href="https://www.candere.com/loose-solitaire?shape=Round" data-menu="Solitaires/Loose Diamonds/Round" id="round_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/collections/round.png">Round</a>
              <a href="https://www.candere.com/loose-solitaire?shape=Princess" data-menu="Solitaires/Loose Diamonds/Princess" id="princess_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/collections/princess.png">Princess</a>
              <a href="https://www.candere.com/loose-solitaire?shape=Heart" data-menu="Solitaires/Loose Diamonds/Heart" id="rheart_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/collections/heart.png">Heart</a>
              <a href="https://www.candere.com/loose-solitaire?shape=Pear" data-menu="Solitaires/Loose Diamonds/Pear" id="pear_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/collections/pear.png">Pear</a>
              <a href="https://www.candere.com/loose-solitaire?shape=Marquise" data-menu="Solitaires/Loose Diamonds/Marquise" id="marquise_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/collections/marquise_new.png">Marquise</a>
              <a href="https://www.candere.com/loose-solitaire" class="viewAll_cta" data-menu="Solitaire Jewellery/Loose Diamonds/View All">VIEW ALL <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
            <div class="item">
              <p class="main_label">Shop for</p>
              <a href="https://www.candere.com/jewellery/just-solitaires/women.html" data-menu="Solitaires/Shop for/Women">Women</a>
              <a href="https://www.candere.com/jewellery/just-solitaires/men.html" data-menu="Solitaires/Shop for/Men">Men</a>
            </div>
            <div class="item">
              <p class="main_label">Shop by</p>
              <a href="https://www.candere.com/jewellery/just-solitaires.html?price=0.00-50000.00" data-menu="Solitaires/Shop By/Below 50k">Below <span>₹</span>50k</a>
              <a href="https://www.candere.com/jewellery/just-solitaires.html?price=50000.00-100000.00" data-menu="Solitaires/Shop By/50k to 1 lakh"><span>₹</span>50k to 1 lakh </a>
              <a href="https://www.candere.com/jewellery/just-solitaires.html?price=100000.00-1100000.00" data-menu="Solitaires/Shop By/Above 1 lakh">Above <span>₹</span>1 lakh</a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery/just-solitaires.html" class="banner_cta zooming_img_" data-menu="Solitaires/View all designs" id="just_solitaires_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Solitaire-Category.jpg"> </a>
            <div class="banner_text">
              <p>Psst...the bestselling solitaires are in here, pick any!</p>
              <a href="https://www.candere.com/jewellery/just-solitaires.html" class="banner_cta hover_text" data-menu="Solitaires/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/jewellery.html" class="parent_" data-menu="Other Jewellery">Other Jewellery</a>
      <div class="subMenu">
        <div class="mega_menu_inner">
          <div class="item_menu item_left_">
            <div class="item">
              <p class="main_label">Featured Collection</p>
              <a href="https://www.candere.com/collections/sunkissed-collection.html" data-menu="Other Jewellery/Collection/Sunkissed">Sunkissed</a>
              <a href="https://www.candere.com/collections/evil-eye-collection.html" data-menu="Other Jewellery/Collection/Evil Eye">Evil Eye</a>
              <a href="https://www.candere.com/collections/chafa-collection.html" data-menu="Other Jewellery/Collection/Chafa">Chafa</a>
              <a href="https://www.candere.com/collections/miracle-plate-collection.html" data-menu="Other Jewellery/Collection/Miracle Plate">Miracle Plate</a>
              <a href="https://www.candere.com/collections/butterfly-collection.html" data-menu="Other Jewellery/Collection/pendant-with-chain">Butterfly</a>
              <a href="https://www.candere.com/candere-collections.html" class="viewAll_cta" data-menu="Collection/View all">VIEW ALL
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
            <div class="item">
              <p class="main_label">Wedding Collection</p>
              <a href="https://www.candere.com/wedding-collection/kyra-collection.html" data-menu="Other Jewellery/Wedding/Kyra">Kyra</a>
              <a href="https://www.candere.com/wedding-collection/mudhra-collection.html" data-menu="Other Jewellery/Wedding/Mudhra">Mudhra</a>
              <a href="https://www.candere.com/wedding-collection/nimah-collection.html" data-menu="Other Jewellery/Wedding/Nimah">Nimah</a>
              <a href="https://www.candere.com/wedding-collection/nivara-collection.html" data-menu="Other Jewellery/Wedding/Nivara">Nivara</a>
              <a href="https://www.candere.com/wedding-collection/sankalp-collection.html" data-menu="Other Jewellery/Wedding/Sankalp">Sankalp</a>
              <a href="https://www.candere.com/wedding.html" class="viewAll_cta" data-menu="Wedding/View all">VIEW ALL 
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
            <div class="item">
              <p class="main_label">Accessories</p>
              <a href="https://www.candere.com/jewellery/mens-jewellery-accessories.html" data-menu="Other Jewellery/Accessories/Men's Accessories">Men's Accessories</a>
              <a href="https://www.candere.com/jewellery/nose-pin.html" data-menu="Other Jewellery/Accessories/Nose Pins">Nose Pins</a>
              <a href="https://www.candere.com/jewellery/watch-accessories.html" data-menu="Other Jewellery/Accessories/Watch Accessories">Watch Accessories</a>
              <a href="https://www.candere.com/jewellery/anklet.html" data-menu="Other Jewellery/Accessories/Anklet">Anklet</a>
              <a href="https://www.candere.com/jewellery/mang-tikka.html" data-menu="Other Jewellery/Accessories/Mang Tikka">Mang Tikka</a>
              <a href="https://www.candere.com/jewellery/accessories.html" class="viewAll_cta" data-menu="Accessories/View all">VIEW ALL 
                <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
          <div class="item_image item_right">
            <a href="https://www.candere.com/jewellery.html" class="banner_cta zooming_img_" data-menu="Other Jewellery/View all designs" id="other_img_mobile"><img src="https://www.candere.com/media/home_page_images/mega_menu/Other-Jewellery_1.jpg"> </a>
            <div class="banner_text">
              <p>Accessories make everything better!</p>
              <a href="https://www.candere.com/jewellery.html" class="banner_cta hover_text" data-menu="Other Jewellery/View all designs">VIEW ALL DESIGNS <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/gifts.html" class="parent_" data-menu="Gifts">Gifts</a>
      <div class="subMenu">
        <div class="mega_menu_inner width_1600">
          <div class="only_img gift_menu only_gift">
                  <div class="item_">
                    <a href="https://www.candere.com/jewellery/anniversary-gifts.html" data-menu="Gifts/Anniversary Gifts" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/gifts/Anniversary_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/anniversary-gifts.html" class="banner_cta hover_cta_" data-menu="Gifts/Anniversary Gifts"> Anniversary Gifts
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>Starting at 10k only!</p> 
                    </div>
                  </div>
                  
                  
                  <div class="item_">
                    <a href="https://www.candere.com/jewellery/gifts-for-her.html" data-menu="Gifts/Birthday Gifts" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/gifts/Birthday_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/gifts-for-her.html" class="banner_cta hover_cta_" data-menu="Gifts/Birthday Gifts"> Birthday Gifts
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>Budget-friendly presents!</p> 
                    </div>
                  </div>
                  
                  
                  <div class="item_">
                    <a href="https://www.candere.com/jewellery/gifts-for-him.html" data-menu="Gifts/Gifts For Him" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/gifts/Him_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/gifts-for-him.html" class="banner_cta hover_cta_" data-menu="Gifts/Gifts For Him"> Gifts For Him
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>Shop at ease!</p> 
                    </div>
                  </div>
                  
                  
                  <div class="item_">
                    <a href="https://www.candere.com/gifts/investment-coins.html" data-menu="Gifts/Investment Coins" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/gifts/Coin_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/gifts/investment-coins.html" class="banner_cta hover_cta_" data-menu="Gifts/Investment Coins"> Investment Coins
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>Pocket-Friendly Investments</p> 
                    </div>
                  </div>
                  
                  
                  <div class="item_">
                    <a href="https://www.candere.com/jewellery/gifts-for-kids.html" data-menu="Gifts/Gifts for Kids" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/gifts/Kids_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/gifts-for-kids.html" class="banner_cta hover_cta_" data-menu="Gifts/Gifts for Kids"> Gifts for Kids
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>For the little charms</p> 
                    </div>
                  </div>
                  
                  </div>
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.candere.com/offers-terms-and-conditions.html" class="parent_ sale_menu" data-menu="Offers">Offers</a>
      <div class="subMenu">
        <div class="mega_menu_inner width_1600">
          <div class="only_img sale_menu only_sale">
                    <div class="item_">
                    <a href="https://www.candere.com/jewellery/just-solitaires.html" data-menu="Offers/UPTO 40% Off" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/sale/Solitaire_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/just-solitaires.html" class="banner_cta" data-menu="Offers/UPTO 40% Off"> UPTO 40% Off
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>On Solitaire Prices</p>  
                      <a href="https://www.candere.com/jewellery/just-solitaires.html" data-menu="Offers/VIEW SOLITAIRE DESIGNS" class="allDesigns hover_cta_">VIEW SOLITAIRE DESIGNS<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>                  
                    </div>
                  </div>
                  
                  
                    <div class="item_">
                    <a href="https://www.candere.com/jewellery/gold.html" data-menu="Offers/UPTO 60% Off" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/sale/Gold_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/gold.html" class="banner_cta" data-menu="Offers/UPTO 60% Off"> UPTO 60% Off
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>On Making Charges</p>  
                      <a href="https://www.candere.com/jewellery/gold.html" data-menu="Offers/VIEW GOLD DESIGNS" class="allDesigns hover_cta_">VIEW GOLD DESIGNS<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>                  
                    </div>
                  </div>
                  
                  
                    <div class="item_">
                    <a href="https://www.candere.com/jewellery/diamond.html" data-menu="Offers/Upto 100% OFF" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/sale/Diamond_170223.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/diamond.html" class="banner_cta" data-menu="Offers/Upto 100% OFF"> Upto 100% OFF
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>On Making Charges</p>  
                      <a href="https://www.candere.com/jewellery/diamond.html" data-menu="Offers/VIEW DIAMOND DESIGNS" class="allDesigns hover_cta_">VIEW DIAMOND DESIGNS<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>                  
                    </div>
                  </div>
                  
                  
                    <div class="item_">
                    <a href="https://www.candere.com/jewellery/deal-of-the-day.html" data-menu="Offers/Deals of the day" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/sale/Deal_of_day_200423.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/deal-of-the-day.html" class="banner_cta" data-menu="Offers/Deals of the day"> Deals of the day
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>Grab them now</p>  
                      <a href="https://www.candere.com/jewellery/deal-of-the-day.html" data-menu="Offers/VIEW ALL DESIGNS" class="allDesigns hover_cta_">VIEW ALL DESIGNS<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>                  
                    </div>
                  </div>
                  
                  
                    <div class="item_">
                    <a href="https://www.candere.com/jewellery/platinum.html" data-menu="Offers/UPTO 50% Off" class="zooming_img_">
                      <img src="https://www.candere.com/media/home_page_images/mega_menu/sale/Platinum.jpg">  
                    </a>
                    <div class="banner_text"> 
                      <a href="https://www.candere.com/jewellery/platinum.html" class="banner_cta" data-menu="Offers/UPTO 50% Off"> UPTO 50% Off
                        <span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>
                      <p>On Making Charges</p>  
                      <a href="https://www.candere.com/jewellery/platinum.html" data-menu="Offers/VIEW PLATINUM DESIGNS" class="allDesigns hover_cta_">VIEW PLATINUM DESIGNS<span><svg class="svg-inline--fa fa-angle-up fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg><!-- <i class="fa fa-angle-up" aria-hidden="true"></i> --></span></a>                  
                    </div>
                  </div>
                  
                  </div>
        </div>
      </div>
    </li>
  </ul>
</div>
  </div>
</div>
<style>
  #panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{% schema %}
  {
    "name": "jquery-demo",
    "settings": [
        {
        "type": "image_picker",
        "id": "mx-online-logo-1",
        "label": "1 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-2",
        "label": "2 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-3",
        "label": "3 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-4",
        "label": "4 img"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}