<div class="jquery-demo-main">
  <div class="jquery-demo-paraent">
    <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
    <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
    <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
    <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
    <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}