
<div class="row">
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-1 | image_url }}" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-2 | image_url }}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-3 | image_url }}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ section.settings.mx-online-logo-4 | image_url }}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>

<button id="stop">Stop sliding</button>

<div id="flip">Click to slide down panel</div>
<div id="panel">Hello world!</div>

<button>Start Animation</button>

<div style="background:#98bf21;height:100px;width:100px;position:absolute;"></div>
<h2>This is a heading</h2>

<p style="background-color:#ff0000">This is a paragraph.</p>
<p style="background-color:#00ff00">This is a paragraph.</p>
<p style="background-color:#0000ff">This is a paragraph.</p>
</div>

<div class="">
  <ol class="append-demo">
    <li><div class="selection_chip"  attval="Asscher" title="Asscher"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.8327 45H34.1197L43.9525 35.1673V12.8327L34.1197 3H13.8327L4 12.8327V35.1673L13.8327 45ZM14.3934 43.6465L5.35351 34.6066V13.3934L14.3934 4.35351H33.5591L42.599 13.3934V34.6066L33.5591 43.6465H14.3934Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.1892 41.7241H32.7631L40.6769 33.8107V14.1889L32.7631 6.27543H15.1892L7.27576 14.1889V33.8106L15.1892 41.7241ZM15.7499 40.3706L8.62926 33.25V14.7496L15.7499 7.62894H32.2025L39.3234 14.7496V33.25L32.2025 40.3706H15.7499Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5463 38.4487H31.4067L37.4016 32.4535V15.5462L31.4067 9.55102H16.5463L10.5514 15.5462V32.4535L16.5463 38.4487ZM17.1069 37.0952L11.9049 31.8929V16.1069L17.1069 10.9045H30.8461L36.0481 16.1069V31.8929L30.8461 37.0952H17.1069Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.9692 31.5482L4.41785 34.262L4.93583 35.5125L11.4871 32.7987L10.9692 31.5482Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.2012 37.513L13.4878 44.0643L14.7383 44.5823L17.4517 38.031L16.2012 37.513Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M30.501 38.031L33.2141 44.5823L34.4646 44.0644L31.7515 37.5131L30.501 38.031Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M36.4657 32.7982L43.0167 35.512L43.5347 34.2615L36.9837 31.5477L36.4657 32.7982Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M36.9837 16.4519L43.5346 13.7385L43.0167 12.488L36.4657 15.2014L36.9837 16.4519Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.7515 10.4863L34.4646 3.93535L33.2141 3.41745L30.501 9.96843L31.7515 10.4863Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.4517 9.96886L14.7383 3.41788L13.4878 3.93584L16.2012 10.4868L17.4517 9.96886Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4871 15.2014L4.93578 12.488L4.41785 13.7385L10.9692 16.4519L11.4871 15.2014Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip"  attval="Heart" title="Heart"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.7593 39.2905C29.7595 39.2907 29.7597 39.2909 30.1739 38.7922C30.5881 38.2936 30.5881 38.2936 30.5881 38.2936L30.5876 38.2932L30.5854 38.2914L30.5759 38.2834C30.5673 38.2762 30.5541 38.2652 30.5366 38.2504C30.5016 38.2209 30.4492 38.1765 30.3805 38.1178C30.2431 38.0003 30.041 37.8256 29.7839 37.5984C29.2698 37.1441 28.5363 36.4802 27.6628 35.6452C25.9147 33.974 23.6111 31.6226 21.3825 28.8972C19.1514 26.1688 17.0112 23.0845 15.5746 19.9478C14.1353 16.8053 13.4297 13.6707 13.9793 10.8107L12.7061 10.5661C12.0855 13.7958 12.8988 17.219 14.3959 20.4877C15.8957 23.7624 18.1096 26.9428 20.3789 29.7179C22.6506 32.4961 24.9935 34.887 26.767 36.5823C27.6542 37.4305 28.4003 38.1059 28.9254 38.5699C29.188 38.802 29.3955 38.9813 29.5378 39.103C29.609 39.1639 29.6639 39.2104 29.7013 39.2419C29.72 39.2577 29.7343 39.2697 29.7441 39.2779L29.7553 39.2873L29.7593 39.2905Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.96442 5.99665L12.7777 11.0059L13.908 10.371L11.0948 5.3618L9.96442 5.99665Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3472 3.646L12.8068 10.3238L13.8789 11.0527L18.4193 4.37497L17.3472 3.646Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0231 14.856L24.7046 8.4122L23.7322 7.55478L18.0507 13.9985L19.0231 14.856Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.34303 12.144L13.4166 11.3325L13.2688 10.0444L6.19525 10.856L6.34303 12.144Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.87921 12.4579L13.0773 15.6907L13.6084 14.508L6.41036 11.2753L5.87921 12.4579Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.7772 14.7828L7.15063 24.8304L8.28181 25.4639L13.9084 15.4163L12.7772 14.7828Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14.3251 34.1709L16.0154 21.3514L14.7301 21.182L13.0397 34.0014L14.3251 34.1709Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.54156 25.7712L20.2072 29.3135L20.5564 28.0649L7.89076 24.5227L7.54156 25.7712Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.8482 44.1979L21.0114 28.5353L19.7521 28.8438L23.589 44.5063L24.8482 44.1979Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M22.1551 34.6618L13.7758 33.4444L13.5894 34.7274L21.9687 35.9448L22.1551 34.6618Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.964 11.2146L18.1581 14.9536L18.9155 13.9014L13.7214 10.1624L12.964 11.2146Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M35.1878 14.4576C27.9134 13.4354 20.5305 13.4354 13.2553 14.4576L13.4357 15.7415C20.5913 14.736 27.8527 14.736 35.0073 15.7415L35.1878 14.4576Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5648 20.4081L5.6963 17.3516L5.31274 18.5901L15.1812 21.6465L15.5648 20.4081Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.7742 14.0001L18.4356 3.67179L17.3306 4.34992L23.6692 14.6782L24.7742 14.0001Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.2184 45.0002C24.874 45.001 25.4972 44.705 25.9682 44.174L26.1315 43.9899V43.9862C27.5321 42.4206 29.2146 40.6903 30.87 39.0056C31.1533 38.7173 31.4359 38.4303 31.7162 38.1456C33.1318 36.7077 34.4869 35.3313 35.564 34.1682C44.7355 24.2674 44.889 14.2174 41.0969 8.26284C39.2099 5.29973 36.3375 3.36006 33.1605 3.06431C30.1502 2.78408 26.9734 3.98916 24.2195 6.99794C21.4662 3.97537 18.2886 2.76184 15.2764 3.03852C12.0979 3.33047 9.22426 5.27134 7.33655 8.23739C3.54321 14.1977 3.69631 24.2625 12.8744 34.1705C13.9511 35.3331 15.3055 36.7088 16.7206 38.1461C17.0014 38.4314 17.2846 38.719 17.5685 39.0079C19.2888 40.7585 21.0383 42.5585 22.4701 44.1717M24.2184 45.0002C23.5632 44.9995 22.9407 44.7023 22.4702 44.1719ZM24.22 43.7038C23.9715 43.7035 23.6901 43.5935 23.44 43.3115L23.4399 43.3113C21.9835 41.6704 20.2124 39.8488 18.4932 38.0992C18.2067 37.8077 17.9218 37.5183 17.64 37.232C16.2246 35.7944 14.8875 34.4361 13.8255 33.2895L13.8255 33.2894C4.94542 23.7031 5.02752 14.2801 8.43029 8.93349C10.1406 6.2461 12.6818 4.57876 15.395 4.32955C18.0914 4.08188 21.0785 5.22442 23.7201 8.39843L24.2172 8.99574L24.7157 8.39954C27.3573 5.23981 30.3439 4.10418 33.0403 4.35519C35.7534 4.60775 38.2938 6.27483 40.0034 8.95925C43.4044 14.2998 43.4866 23.7079 34.6129 33.2872L34.6129 33.2872C33.5505 34.4343 32.2128 35.7931 30.7969 37.2314C30.5156 37.5171 30.2312 37.806 29.9453 38.097C28.2261 39.8465 26.455 41.6681 24.9985 43.309L24.9327 43.383C24.7004 43.6131 24.4467 43.704 24.22 43.7038Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8503 38.2914C17.8503 38.2914 17.8503 38.2914 18.2645 38.79C18.6787 39.2887 18.6789 39.2885 18.6792 39.2883L18.6831 39.2851L18.6943 39.2757C18.7041 39.2675 18.7184 39.2555 18.7371 39.2397C18.7745 39.2082 18.8294 39.1617 18.9006 39.1008C19.0429 38.9791 19.2504 38.7998 19.513 38.5677C20.0381 38.1037 20.7842 37.4283 21.6715 36.5801C23.4449 34.8848 25.7878 32.4939 28.0596 29.7157C30.3289 26.9406 32.5428 23.7602 34.0427 20.4855C35.5398 17.2168 36.3531 13.7936 35.7326 10.5639L34.4594 10.8085C35.0089 13.6685 34.3033 16.8031 32.864 19.9457C31.4273 23.0823 29.2871 26.1666 27.056 28.895C24.8274 31.6204 22.5237 33.9718 20.7756 35.643C19.9021 36.478 19.1686 37.1419 18.6545 37.5962C18.3974 37.8234 18.1953 37.9981 18.0579 38.1156C17.9893 38.1743 17.9368 38.2187 17.9018 38.2482C17.8843 38.263 17.8711 38.274 17.8625 38.2812L17.853 38.2892L17.8503 38.2914Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M30.0192 4.37302L34.5598 11.0508L35.6319 10.3218L31.0913 3.64404L30.0192 4.37302Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M30.3881 13.9967L24.7045 7.55525L23.7324 8.41301L29.416 14.8545L30.3881 13.9967Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.2436 10.8541L35.1697 10.0425L35.022 11.3305L42.0958 12.1421L42.2436 10.8541Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.0283 11.2731L34.8303 14.5058L35.3615 15.6885L42.5595 12.4557L42.0283 11.2731Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.5304 15.4136L40.1567 25.4612L41.2879 24.8278L35.6616 14.7801L34.5304 15.4136Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M35.3985 33.9987L33.7083 21.1796L32.4229 21.3491L34.1132 34.1682L35.3985 33.9987Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M40.5476 24.5205L27.8821 28.0627L28.2313 29.3113L40.8968 25.769L40.5476 24.5205Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.8496 44.5037L28.6865 28.8411L27.4273 28.5326L23.5904 44.1952L24.8496 44.5037Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M26.4698 35.9421L34.8492 34.7248L34.6628 33.4418L26.2834 34.6591L26.4698 35.9421Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.7171 10.16L29.5231 13.899L30.2806 14.9512L35.4745 11.2122L34.7171 10.16Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.431 15.739C20.586 14.7336 27.8472 14.7336 35.0029 15.739L35.1833 14.4552C27.908 13.4329 20.5253 13.4329 13.2505 14.4552L13.431 15.739Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M33.2574 21.6443L43.1257 18.5882L42.7422 17.3498L32.8738 20.4058L33.2574 21.6443Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.7692 14.6758L31.1078 4.3475L30.0029 3.66936L23.6642 13.9976L24.7692 14.6758Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.9196 9.96801L10.7898 5.08585L10.269 6.27311L21.3988 11.1553L21.9196 9.96801Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.3419 5.36184L34.5289 10.3711L35.6593 11.0059L38.4723 5.99665L37.3419 5.36184Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.0379 11.1553L38.1674 6.27311L37.6466 5.08585L26.5171 9.96802L27.0379 11.1553Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip"  attval="Pear" title="Pear"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M26.0913 3.56978C25.4422 3.2176 24.7991 3 24.2122 3C23.6252 3 22.982 3.21758 22.3329 3.56977C21.6754 3.92651 20.9679 4.44528 20.2408 5.10561C18.7858 6.42685 17.2131 8.35022 15.7631 10.7919C12.8614 15.6782 10.4242 22.6856 10.4242 31.2117C10.4242 38.8265 16.5973 45 24.2122 45C31.8269 45 38.0001 38.8265 38.0001 31.2117C38.0001 22.6856 35.5627 15.6782 32.6609 10.7919C31.2109 8.35022 29.6381 6.42686 28.1832 5.10562C27.4561 4.44529 26.7487 3.92652 26.0913 3.56978ZM31.6161 11.4124C34.4136 16.1231 36.7849 22.9178 36.7849 31.2117C36.7849 38.1554 31.1557 43.7848 24.2122 43.7848C17.2685 43.7848 11.6393 38.1554 11.6393 31.2117C11.6393 22.9178 14.0104 16.1231 16.8079 11.4124C18.2076 9.0555 19.7072 7.2316 21.0577 6.00521C21.7333 5.39172 22.3618 4.93657 22.9124 4.63786C23.4713 4.3346 23.9082 4.21517 24.2122 4.21517C24.516 4.21517 24.9529 4.33458 25.5117 4.63785C26.0622 4.93656 26.6908 5.39171 27.3663 6.0052C28.7167 7.23159 30.2164 9.0555 31.6161 11.4124Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7446 29.8267L24.4769 37.7426L25.0837 36.6898L11.3515 28.7739L10.7446 29.8267Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.6249 6.51611L10.5749 28.919L11.5211 29.6814L29.5711 7.27851L28.6249 6.51611Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.27 39.5286L21.2986 39.5286V38.3135H13.27V39.5286Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.1149 39.4779L25.0231 37.7727L24.5372 36.6589L20.629 38.3641L21.1149 39.4779Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3536 39.2376L23.6936 44.7089L24.7308 44.0758L21.3908 38.6045L20.3536 39.2376Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3377 38.6316L18.0583 42.8473L19.1273 43.4253L21.4066 39.2095L20.3377 38.6316Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1278 3.44971L13.607 38.7631L14.7803 39.0795L24.3011 3.76603L23.1278 3.44971Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.7492 31.6169L11.1541 33.855L11.6861 34.9475L16.2813 32.7094L15.7492 31.6169Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.0727 28.7739L23.3403 36.6898L23.9471 37.7426L37.6796 29.8267L37.0727 28.7739Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.8532 7.27851L36.9031 29.6814L37.8494 28.919L19.7995 6.51611L18.8532 7.27851Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M35.1542 38.3135H27.1251V39.5286L35.1542 39.5286V38.3135Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.7946 38.3641L23.8867 36.6589L23.4007 37.7727L27.3086 39.4779L27.7946 38.3641Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.033 38.6045L23.6937 44.0758L24.7309 44.7089L28.0703 39.2376L27.033 38.6045Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.0171 39.2096L29.2968 43.4253L30.3657 42.8473L28.086 38.6316L27.0171 39.2096Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.3883 16.9124L26.9762 38.7256L28.1267 39.1166L35.5389 17.3033L34.3883 16.9124Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.1228 3.76605L33.6442 39.0795L34.8175 38.7631L25.2961 3.44971L24.1228 3.76605Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.1427 32.7095L36.7383 34.9475L37.2704 33.855L32.6747 31.6169L32.1427 32.7095Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M26.0383 10.4459L34.5743 17.5741L35.3531 16.6414L26.8172 9.51318L26.0383 10.4459Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8853 17.3033L20.2976 39.1166L21.4481 38.7256L14.0359 16.9124L12.8853 17.3033Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.6074 9.51318L13.0711 16.6414L13.85 17.5741L22.3862 10.4459L21.6074 9.51318Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip"  attval="Princess" title="Princess"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 44.9998H44.9996V2.99975H3V44.9998ZM4.60394 43.3958V4.6037H43.3957V43.3958H4.60394Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.8681 3.07078L16.0209 15.6192L16.6799 17.0815L44.5271 4.53311L43.8681 3.07078Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.6193 16.0208L3.07086 43.8684L4.5332 44.5273L17.0816 16.6797L15.6193 16.0208Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M3 44.9998H44.9996V2.99975H3V44.9998ZM4.60394 43.3958V4.6037H43.3957V43.3958H4.60394Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M3.07086 4.1313L15.6193 31.9785L17.0816 31.3196L4.53319 3.47235L3.07086 4.1313Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0209 32.3804L43.8681 44.9292L44.5271 43.4669L16.6799 30.918L16.0209 32.3804Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.13138 44.9292L31.9786 32.3804L31.3196 30.918L3.47241 43.4669L4.13138 44.9292Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.3803 31.9785L44.9287 4.1313L43.4664 3.47235L30.918 31.3196L32.3803 31.9785Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.9287 43.8684L32.3803 16.0208L30.918 16.6797L43.4664 44.5273L44.9287 43.8684Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.9786 15.6192L4.13136 3.07078L3.47241 4.53311L31.3196 17.0815L31.9786 15.6192Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5485 9.45636V16.3501H17.1525V9.45636H15.5485Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M30.8474 9.45636V16.3501H32.4513V9.45636H30.8474Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.3184 7.45172H13.6813V9.05566H34.3184V7.45172Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M38.5434 15.5482H31.6493V17.1521H38.5434V15.5482Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M38.5434 30.847H31.6493V32.4509H38.5434V30.847Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M40.5483 34.3184V13.6809H38.9443V34.3184H40.5483Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4513 38.5432V31.6491H30.8474V38.5432H32.4513Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.1525 38.5432V31.6491H15.5485V38.5432H17.1525Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6813 40.5481H34.3184V38.9442H13.6813V40.5481Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.4566 32.4509H16.3504V30.847H9.4566V32.4509Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.4566 17.1521H16.3504V15.5482H9.4566V17.1521Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.45172 13.6809V34.3184H9.05566V13.6809H7.45172Z" fill="#4E4B66"></path></svg></span></div></li>
    <li><div class="selection_chip"  attval="Round" title="Round"><span class="icon_"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00006 24.0002C3.00006 35.5979 12.4023 45 24.0002 45C35.5984 45 45.0001 35.5979 45.0001 24.0002C45.0001 12.4021 35.5984 3 24.0002 3C12.4023 3 3.00006 12.4021 3.00006 24.0002ZM24.0002 43.7732C13.0798 43.7732 4.22681 34.9204 4.22681 24.0002C4.22681 13.0796 13.0798 4.22677 24.0002 4.22677C34.9209 4.22677 43.7733 13.0796 43.7733 24.0002C43.7733 34.9204 34.9209 43.7732 24.0002 43.7732Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31769 38.7527H10.5444V29.6404L19.0128 10.2633L24.4626 4.01688L23.5382 3.21037L17.9643 9.59905L9.31769 29.3841V38.7527Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.4557 29.6404V38.7527H38.6825V29.3841L30.0355 9.59907L24.4623 3.2104L23.5379 4.01686L28.9871 10.2633L37.4557 29.6404Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0128 37.7369L24.4626 43.9833L23.5382 44.7898L17.9643 38.4011L9.31769 18.6164V9.24755H10.5444V18.36L19.0128 37.7369Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.4623 44.7898L30.0355 38.4011L38.6825 18.6164V9.24757H37.4557V18.36L28.987 37.7369L23.5379 43.9833L24.4623 44.7898Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M44.7901 23.5382L38.4015 17.9643L18.6167 9.31784H9.24805V10.5446H18.3604L37.7372 19.0128L43.9836 24.4626L44.7901 23.5382Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.3604 37.4558H9.24805V38.6826H18.6167L38.4015 30.0364L44.7901 24.4625L43.9836 23.5381L37.7372 28.9879L18.3604 37.4558Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2632 19.0128L29.6398 10.5446H38.7524V9.31784H29.3834L9.59898 17.9643L3.21039 23.5382L4.01688 24.4626L10.2632 19.0128Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.3834 38.6826H38.7524V37.4558H29.6398L10.2632 28.9879L4.01688 23.5381L3.21039 24.4625L9.59898 30.0364L29.3834 38.6826Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.49038 32.4707L10.2103 30.0583L9.65199 28.9659L4.93207 31.3783L5.49038 32.4707Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.93207 16.6219L9.65199 19.0347L10.2104 17.9423L5.49043 15.5296L4.93207 16.6219Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M43.0683 31.3784L38.3487 28.9659L37.7903 30.0583L42.51 32.4707L43.0683 31.3784Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.51 15.5296L37.7903 17.9424L38.3487 19.0347L43.0684 16.6219L42.51 15.5296Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5296 5.48916L17.942 10.2095L19.0344 9.65118L16.622 4.93088L15.5296 5.48916Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.3777 4.93088L28.9653 9.65118L30.0577 10.2095L32.4701 5.48916L31.3777 4.93088Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.622 43.0688L19.0344 38.3483L17.942 37.79L15.5296 42.5106L16.622 43.0688Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.4701 42.5106L30.0577 37.79L28.9653 38.3483L31.3777 43.0688L32.4701 42.5106Z" fill="#4E4B66"></path></svg></span></div></li>
  </ol>
  <div class="outputhtml"></div>
  <button id="btn2"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M26.0913 3.56978C25.4422 3.2176 24.7991 3 24.2122 3C23.6252 3 22.982 3.21758 22.3329 3.56977C21.6754 3.92651 20.9679 4.44528 20.2408 5.10561C18.7858 6.42685 17.2131 8.35022 15.7631 10.7919C12.8614 15.6782 10.4242 22.6856 10.4242 31.2117C10.4242 38.8265 16.5973 45 24.2122 45C31.8269 45 38.0001 38.8265 38.0001 31.2117C38.0001 22.6856 35.5627 15.6782 32.6609 10.7919C31.2109 8.35022 29.6381 6.42686 28.1832 5.10562C27.4561 4.44529 26.7487 3.92652 26.0913 3.56978ZM31.6161 11.4124C34.4136 16.1231 36.7849 22.9178 36.7849 31.2117C36.7849 38.1554 31.1557 43.7848 24.2122 43.7848C17.2685 43.7848 11.6393 38.1554 11.6393 31.2117C11.6393 22.9178 14.0104 16.1231 16.8079 11.4124C18.2076 9.0555 19.7072 7.2316 21.0577 6.00521C21.7333 5.39172 22.3618 4.93657 22.9124 4.63786C23.4713 4.3346 23.9082 4.21517 24.2122 4.21517C24.516 4.21517 24.9529 4.33458 25.5117 4.63785C26.0622 4.93656 26.6908 5.39171 27.3663 6.0052C28.7167 7.23159 30.2164 9.0555 31.6161 11.4124Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7446 29.8267L24.4769 37.7426L25.0837 36.6898L11.3515 28.7739L10.7446 29.8267Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.6249 6.51611L10.5749 28.919L11.5211 29.6814L29.5711 7.27851L28.6249 6.51611Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.27 39.5286L21.2986 39.5286V38.3135H13.27V39.5286Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.1149 39.4779L25.0231 37.7727L24.5372 36.6589L20.629 38.3641L21.1149 39.4779Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3536 39.2376L23.6936 44.7089L24.7308 44.0758L21.3908 38.6045L20.3536 39.2376Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3377 38.6316L18.0583 42.8473L19.1273 43.4253L21.4066 39.2095L20.3377 38.6316Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1278 3.44971L13.607 38.7631L14.7803 39.0795L24.3011 3.76603L23.1278 3.44971Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.7492 31.6169L11.1541 33.855L11.6861 34.9475L16.2813 32.7094L15.7492 31.6169Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.0727 28.7739L23.3403 36.6898L23.9471 37.7426L37.6796 29.8267L37.0727 28.7739Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.8532 7.27851L36.9031 29.6814L37.8494 28.919L19.7995 6.51611L18.8532 7.27851Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M35.1542 38.3135H27.1251V39.5286L35.1542 39.5286V38.3135Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.7946 38.3641L23.8867 36.6589L23.4007 37.7727L27.3086 39.4779L27.7946 38.3641Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.033 38.6045L23.6937 44.0758L24.7309 44.7089L28.0703 39.2376L27.033 38.6045Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27.0171 39.2096L29.2968 43.4253L30.3657 42.8473L28.086 38.6316L27.0171 39.2096Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.3883 16.9124L26.9762 38.7256L28.1267 39.1166L35.5389 17.3033L34.3883 16.9124Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.1228 3.76605L33.6442 39.0795L34.8175 38.7631L25.2961 3.44971L24.1228 3.76605Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M32.1427 32.7095L36.7383 34.9475L37.2704 33.855L32.6747 31.6169L32.1427 32.7095Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M26.0383 10.4459L34.5743 17.5741L35.3531 16.6414L26.8172 9.51318L26.0383 10.4459Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8853 17.3033L20.2976 39.1166L21.4481 38.7256L14.0359 16.9124L12.8853 17.3033Z" fill="#4E4B66"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.6074 9.51318L13.0711 16.6414L13.85 17.5741L22.3862 10.4459L21.6074 9.51318Z" fill="#4E4B66"></path></svg></button>
</div>

<style>
  .active.selection_chip:hover {
  background-color: #666;
  color: white;
}
  .append-demo{
    display: flex;
    list-style-type: none;
  }
  .header-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  #panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{% schema %}
  {
    "name": "jquery-demo",
    "settings": [
        {
        "type": "image_picker",
        "id": "mx-online-logo-1",
        "label": "1 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-2",
        "label": "2 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-3",
        "label": "3 img"
        },
      {
        "type": "image_picker",
        "id": "mx-online-logo-4",
        "label": "4 img"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}