<div class="main">
  <div class="parent">
    <div class="mx-header">
      <div class="container">
      <div>
        <img class="footer1logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
      </div>
      <div class="header-desktopmenu">
            <ul class="">
               {% for link in linklists.main-menu.links %}
               {% assign child_list_handle = link.title | handleize %}
               {% if linklists[child_list_handle].links != blank %}
               <li class="list-style {{ link.title }}" >
                  <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
                  <ul class="grandclidehideshow">
                     {% for childlink in linklists[child_list_handle].links %}
                     <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                     {% endfor %}
                  </ul>
               </li>
               {%- for grandchildlink in childlink.links -%}
               <li class="list-style" >
                  <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                  {{ grandchildlink.title | escape }}
                  </a>
               </li>
               {%- endfor -%}
               {% else %}
               <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
               {% endif %}
               {% endfor %}
               <li class="list-style"><a class="signin-button" href="">Sign in</a></li>
               <li class="list-style" ><img class="header-bar-icon" src="{{ section.settings.mx-search-icon | image_url }} "/></li>
              <li class="list-style" ><img class="header-bar-icon" src="{{ section.settings.mx-menu-icon | image_url }} "/></li>
              
            </ul>
         </div>
      </div>
    </div>
    <div class="mx-banners">
      <div>
        <div class="mx-banner  owl-carousel owl-theme" >
          {%- for block in section.blocks -%}
        <div class="slider">
        <div class="">
          <img class="" src="{{ block.settings.Rectangle444 | image_url  }}">
        </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  
</div>
<style>
  .container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width:1200px;
    margin:auto;
    margin-top:20px;
  }
  .mx-header .list-style{
    padding-left:19px;
  }
  .mx-header .linktext{
    text-transform: uppercase;
        color: white;
  }
  .mx-header{
    position: absolute;
    z-index: 2;
    width:100%;
  }
  .parent{
    position: relative;
  }
  .signin-button{
    border: 2px solid #c9fd0e;
    padding: 3px 15px;
    border-radius: 27px;
    color: white;
    margin-right:4px;
    
  }
  .header-bar-icon{
    width:25px;
    vertical-align: middle;
    margin-right:4px;
  }
  .header-desktopmenu{
    margin-left:21%;
  }
 .mx-header .linktext:hover::after { 
     content: "";
    width: 100%;
    height: 4px;
    background: #c9fc13;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    max-width: 20px;
    margin: auto;
}
 .mx-banner.owl-theme .owl-dots .owl-dot{
  display:none;
}
.mx-banner .owl-nav{
  font-size:65px;
}
.mx-banner .owl-prev{
    position: absolute;
  bottom:45%;
  left:30px;
  }
.mx-banner .owl-next{
    position: absolute;
  bottom:45%;
  right:30px;
  }
  .mx-banner .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
  .mx-banner .owl-carousel .owl-nav button.owl-next, .mx-banner .owl-carousel .owl-nav button.owl-prev{
    color:white;
  }
</style>
{% schema %}
  {
    "name": " header ",
    "settings": [
      {
      "type": "image_picker",
      "id": "mx-online-logo",
      "label": "Mx Online logo"
    },
    {
      "type": "image_picker",
      "id": "mx-search-icon",
      "label": "Mx search icon"
    },
    {
      "type": "image_picker",
      "id": "mx-menu-icon",
      "label": "Mx menu icon"
    }
    ],
         "blocks": [
  {
    "type": "text",
    "name": "banner-img",
   "settings": [
     {
          "type": "image_picker",
          "id": "Rectangle444",
          "label": "Rectangle444-img"
          }
   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<script>
  
	$(document).ready(function(){
  $(".mx-banner").owlCarousel({
  	items:1,
  	loop:false,
  	nav:true,
    autoplay:true,
    slideSpeed:300,
    dots:true,
  	responsiveClass:true,
    responsive:{
        767:{
        	items:1
        },
        1080:{
        	items:1
        }

    }
  });
});

</script>
{% javascript %}
{% endjavascript %}