<div class="main">
  <div class="parent">
    <div class="mx-header">
      <div class="container">
      <div>
        <img class="footer1logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
    
      </div>
      <div class="header-desktopmenu">
            <ul class="">
               {% for link in linklists.main-menu.links %}
               {% assign child_list_handle = link.title | handleize %}
               {% if linklists[child_list_handle].links != blank %}
               <li class="list-style {{ link.title }}" >
                  <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
                  <ul class="grandclidehideshow">
                     {% for childlink in linklists[child_list_handle].links %}
                     <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                     {% endfor %}
                  </ul>
               </li>
               {%- for grandchildlink in childlink.links -%}
               <li class="list-style" >
                  <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                  {{ grandchildlink.title | escape }}
                  </a>
               </li>
               {%- endfor -%}
               {% else %}
               <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
               {% endif %}
               {% endfor %}
               <li class="list-style"><a class="signin-button" href="">Sign in</a></li>
               <li class="list-style" ><img class="header-bar-icon" src="{{ section.settings.mx-search-icon | image_url }} "/></li>
              <li class="list-style" ><img class="header-bar-icon" src="{{ section.settings.mx-menu-icon | image_url }} "/></li>
              
            </ul>
         </div>
      </div>
    </div>
    <div class="mx-banners">
      <div>
        <div class="mx-banner  owl-carousel owl-theme" >
          {%- for block in section.blocks -%}
            {% if block.type == "text" %}
        <div class="slider">
        <div class="">
          <img class="" src="{{ block.settings.Rectangle444 | image_url  }}">
        </div>
          <div class="uaes-img">
            <img class="UAE-img" src="{{ section.settings.uae-img | image_url  }}">
            <div class="shopnow-button-2">
              <a class="shopnow-2" href="">SHOP NOW  <span class="left-arrow">></span></a>
            </div>
            </div>
        </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="top-brand-images">
        <div>
          <p class="topbrand-text">top brands</p>
        </div>
        <div>
          <img class="hide-show-icon" src="{{ section.settings.hide-show-button | image_url  }}">
        </div>
        <div class="brandimagesrotate">
          {%- for block in section.blocks -%}
            {% if block.type == "brand-images" %}
              <div class="brandimages">
            <img class="" src="{{ block.settings.brand-images | image_url  }}">
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="our-gear">
        <div>
          <p class="topbrand-text">our gear</p>
        </div>
        <div class="our-gear-slider  " >
          {%- for block in section.blocks -%}
            {% if block.type == "0urgear-images" %}
        <div class="ourgear-slider-images">
        <div class="">
          <img class="ourgear-slider-img" src="{{ block.settings.ourgear-slider-img | image_url  }}">
        </div>
        </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="arrows">
            <img class="left-arrows" src="{{ section.settings.left-arrow | image_url  }}">
            <img class="right-arrows" src="{{ section.settings.right-arrow | image_url  }}">
        </div>
    </div>
    <div class="shop-now">
        <div>
          <p class="topbrand-text">shop now</p>
        </div>
        <div class="men-women-img">
          <div class="women-img">
            <img class="women" src="{{ section.settings.women-img | image_url  }}">
            <div class="women-text">
              <p class="women-text-1">women</p>
              <p class="explore-text">explore</p>
            </div>
          </div>
          <div class="men-img">
            <img class="men" src="{{ section.settings.men-img | image_url  }}">
            <div class="men-text">
              <p class="women-text-1">men</p>
              <p class="explore-text">explore</p>
            </div>
          </div>
        </div>
    </div>
    <div class="kids">
        <div class="kid-imge-2">
          <img class="kid" src="{{ section.settings.kids-img | image_url  }}">
        </div>
        <div class="kid-text">
              <p class="women-text-1">men</p>
              <p class="explore-text">explore</p>
          </div>
    </div>
    <div class="featured-slider">
        <div>
          <p class="topbrand-text">featured</p>
        </div>
        <div>
          <div class="featuredslider">
          {%- for block in section.blocks -%}
            {% if block.type == "featured-slider-images" %}
              <div class="featuredimages">
              <div class="overlay"></div>
            <img class="featured-img" src="{{ block.settings.featured-images | image_url  }}">
                <div class="blanck">
                  <p class="fetured-sale-text-2">sale</p>
                </div>
                <div>
                  <p class="fetured-sale-text">sale</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>      
    </div>
    <div class="maxx-main">
        <div class="overlay"></div>
        <div class="mxo-trand">
          <div>
            <img class="mxo" src="{{ section.settings.mxo-images | image_url  }}">
            <div>
              <p class="mxtrade-text">mxo trade</p>
              <p class="commyunity-text ">Commyunity Shop</p>
            </div>
          </div>
        </div>
        <div class="mxo-logos">
            <div class="mxo-logo-parent">
              <img class="mxo-logo" src="{{ section.settings.mxo-logo-images | image_url  }}">
              <div class="tradeshopnow-text">
                <p class="trade-texts">trade</p>
                <p class="shopnow-texts">shop now <span>></span><span class="style-arrow" >></span>><span> </p>
              </div>
            </div>
        </div>
    </div>
    <div class="vip-member-main">
      
    </div>
  </div>
</div>
<style>
 
@font-face {
  font-family: 'ALDITHGrunge';
  src: url('../Assets/ALDITHGrunge.woff2') format('woff2');
  src: url('../Assets/ALDITHGrunge.woff') format('woff');
}
  .mxo{
    width:100%;
  }
  .style-arrow{
   color: #cafd13;
  }
  .slider{
    potition:relative;
  }
  .uaes-img{
    width: 30%;
    position: absolute;
    bottom: 12%;
    left: 7%;
  }
  .UAE-img{
    width:80%;
  }
  .shopnow-button-2{
    margin-top:25px;
  }
  .shopnow-2{
    color: white;
    font-size: 23px;
    font-weight: 700;
    transition:  0.5s;
  }
  .container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width:1200px;
    margin:auto;
    margin-top:20px;
  }
  .mx-header .list-style{
    padding-left:19px;
  }
  .mx-header .linktext{
    text-transform: uppercase;
        color: white;
  }
  .mx-header{
    position: absolute;
    z-index: 2;
    width:100%;
  }
  .parent{
    position: relative;
  }
  .signin-button{
    border: 2px solid #c9fd0e;
    padding: 3px 15px;
    border-radius: 27px;
    color: white;
    margin-right:4px;
  }
  .header-bar-icon{
    width:25px;
    vertical-align: middle;
    margin-right:4px;
  }
  .header-desktopmenu{
    margin-left:21%;
  }
 .mx-header .linktext:hover::after { 
     content: "";
    width: 100%;
    height: 4px;
    background: #c9fc13;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    max-width: 20px;
    margin: auto;
}
.shopnow-2::after { 
     content: "";
    width: 20px;
    height: 3px;
    background: #c9fc13;
    position: absolute;
    bottom: -11px;
    left: 15px;
    right: 0;
    transition: width 0.5s;
}
.shopnow-2:hover .left-arrow::after{
  content: " > ";
  color:white;
}
  .shopnow-2.left-arrow::after{
    content: "";
    transition: width 7s;
  }
.shopnow-2:hover .left-arrow::before{
  content: " > ";
  color:#c9fc13;
}
.shopnow-2:hover::after{
  width:40%;
}
.shopnow-2:hover{
  color:black;
  font-size:26px;
} 
 
.mx-banner .owl-nav{
  font-size:65px;
}
.mx-banner .owl-prev{
    position: absolute;
  bottom:50%;
  left:30px;
  }
.mx-banner .owl-next{
    position: absolute;
  bottom:50%;
  right:30px;
  }
  .mx-banner .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
  .mx-banner.owl-carousel .owl-nav button.owl-prev{
    color:white;
  }
  .mx-banner.owl-carousel .owl-nav button.owl-next{
    color:white;
  }
  .top-brand-images{
    background: #F0F0F0;
    position: relative;
  }
  .topbrand-text{
    text-align: center;
    font: normal normal normal 50px/50px ALDITH;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin: 0;
    padding-top: 42px;
    padding-bottom:84px;
    position: relative;
  }
  .brandimages{
    width:33.33%;
    text-align: center;
  }
  .brandimagesrotate{
    display:flex;
    align-items: center;
    padding-bottom:100px;
  }
  .brandimages:hover{
    filter: brightness(0) invert(1);
  }
  .hide-show-icon{
    position: absolute;
    right: 45px;
    top: 36px;
    width: 60px;
    height: 60px;
  }
  .topbrand-text::after {
    content: "";
    width: 50px;
    height: 5px;
    background: #c9fc13;
    position: absolute;
    bottom: 37%;
    left: 0;
    right: 0;
    margin: auto;
}
  .our-gear-slider.owl-carousel .owl-nav button.owl-prev{
  font-size: 29px;
    position: absolute;
    left: -5px;
    width: 31px;
    background: black;
    color: white;
    height: auto;
    bottom: -37px;
}
 .our-gear-slider.owl-carousel .owl-nav button.owl-next{
  font-size: 29px;
    position: absolute;
    right: -5px;
    width: 31px;
    background: black;
    color: white;
    height: auto;
    bottom: -37px;
}
  .our-gear-slider{
    margin-bottom:100px
  }
  .ourgear-slider-img{
    width:87%;
    margin:auto;
  }
  .arrows{
    position:relative;
  }
  .right-arrows{
    position: absolute;
    bottom: 0px;
    right: 0;
    width:35px;
  }
  .left-arrows{
    bottom: 0px;
    left: 0;
    position: absolute;
    width: 35px;
  }
  .men{
    width:100%;
    scale: 1.1;
  }
  .women{
    width:100%;
    scale: 1.1;
  }
  .men-women-img{
    display:flex;
  }
  .men:hover{
     scale:1;
    transition: 1s;
  }
  .women:hover{
    scale:1;
    transition: 1s;
  }
  .women-img{
    width:50%;
    overflow: hidden;
        position: relative;
  }
  .men-img{
    width:50%;
    overflow: hidden;
    position: relative;
  }
  .women-text{
    position: absolute;
    top: 47%;
    left: 31%;
  }
  .men-text{
     position: absolute;
    top: 47%;
    right: 36%;
  }
  .women-text-1{
    text-align: center;
    font: normal normal normal 80px/50px ALDITH;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
  }
  .explore-text{
    text-align: center;
    font: normal normal 300 25px/50px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    text-transform: uppercase;
  }
  .explore-text::after { 
     content: "";
    width: 20px;
    height: 3px;
    background: #c9fc13;
    position: absolute;
    bottom: 6px;
    left: 42%;
    right: 0;
    transition: width 0.5s;
}
  .women-img:hover .explore-text::after {
    width:30%;
  }
  .men-img:hover .explore-text::after {
    width:53%;
  }
  .kid{
    width:100%;
    scale:1.1;
  }
  .kids{
    position: relative;
    
  }
  .kid-text {
    position: absolute;
    top: 47%;
    right: 42%;
}
.kid:hover{
     scale:1;
    transition: 1s;
  }
  .kid-imge-2{
    width: 100%;
    overflow: auto;
  }
  .fetured-sale-text{
        margin: 0;
    position: absolute;
    top: 17px;
    font-size: 41px;
    color: white;
    transform: translate(38px, 0px);
    transition-duration: 1s;
}
  .fetured-sale-text-2{
   margin: 0;
    position: absolute;
    top: 136px;
    font-size: 41px;
    color: #111010;
    transform: rotate(404deg);
    left: 65px;
    overflow: hidden;
  }
  .featuredimages{
    position: relative;
    margin:0 30px;
    overflow:hidden;
  }
  .featuredimages:hover .fetured-sale-text{
        transform: translate(125px,200px);
  }
  .featured-img{
    width:100%;
  }
  .blanck{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -78px;
    background: #cafd0e;
    transform: rotate(-44deg);
    left: -76px;
    overflow: hidden;
    z-index: 1;
  }
  .featuredimages:hover .blanck{
      width:100px;
      height:100px;
      top: -56px;
    left: -52px;
  }
  .featured-slider{
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom:50px;
     background-image: url("https://cdn.shopify.com/s/files/1/0584/5942/2883/t/24/assets/shutterstock_1617287977.png");
  }
 .featuredslider .slick-dots li button:before{
  font-size:30px;
  }
  .featuredslider .slick-center{
     scale: 1.09;
  }
  .featuredslider .slick-list{
    padding-top:60px !important;
    padding-bottom:60px !important;
  }
  .featuredimages:hover{
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  }
  .mxo-trand{
  position: relative;
  }
  .mxtrade-text{
    font: normal normal normal 80px/50px ALDITH;
    margin: 0;
    position: absolute;
    bottom: 25%;
    left: 8%;
  color:#c9fc13;
  }
  .commyunity-text{
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    left: 12%;
  }
.commyunity-text::after {
   content: "";
    width: 53px;
    height: 4px;
    background: #c9fc13;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
}
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.featuredimages:hover .overlay{
  display:block;
}
.featuredimages:hover .fetured-sale-text::after{
    content: "";
    width: 30px;
    height: 3px;
    background: #c9fc13;
    position: absolute;
    bottom: -11px;
    left: 15px;
    right: 0;
    transition: width 0.5s;
}
.tradeshopnow-text{
  display:inline-block;
  position: relative;
  margin-left:30px;
}
.mxo-logo{
  vertical-align: middle;
}
.trade-texts{
  margin: 0;
  font-size: 65px;
}
.shopnow-texts{
    margin: 0;
    font-size: 45px;
}
.shopnow-texts::after{
    content: "";
    width: 100px;
    height: 3px;
    background: #c9fc13;
    position: absolute;
    bottom: -5px;
    left: 75px;
    right: 0;
}
.maxx-main{
    position: relative;
}
.maxx-main:hover .mxo-logos{
  display:block;
}
.mxo-logos{
  display:none;
  position: absolute;
    bottom: 0;
    background: black;
    width: 100%;
    color: white;
    height: 100%;
}
  .maxx-main:hover .overlay{
  display:block;
}
.mxo-logo-parent{
  margin-top:12%;
  margin-left:10%;
}
</style>
{% schema %}
  {
    "name": " header ",
    "settings": [
      {
      "type": "image_picker",
      "id": "mx-online-logo",
      "label": "Mx Online logo"
    },
    {
      "type": "image_picker",
      "id": "mx-search-icon",
      "label": "Mx search icon"
    },
    {
      "type": "image_picker",
      "id": "mx-menu-icon",
      "label": "Mx menu icon"
    },
    {
      "type": "image_picker",
      "id": "uae-img",
      "label": "UAE img icon"
    },
    {
      "type": "image_picker",
      "id": "arrow-img",
      "label": "arrow img icon"
    },
    {
      "type": "image_picker",
      "id": "hide-show-button",
      "label": "hide shoe img icon"
    },
        {
      "type": "image_picker",
      "id": "left-arrow",
      "label": "left arrows"
    },
    {
      "type": "image_picker",
      "id": "right-arrow",
      "label": "right arrows"
    },
    {
      "type": "image_picker",
      "id": "women-img",
      "label": "women img"
    },
    {
      "type": "image_picker",
      "id": "men-img",
      "label": "men img"
    },
    {
      "type": "image_picker",
      "id": "kids-img",
      "label": "kids img"
    },
    {
      "type": "image_picker",
      "id": "mxo-images",
      "label": "mxo img"
    },
      {
      "type": "image_picker",
      "id": "mxo-logo-images",
      "label": "mxo logo img"
    }
    ],
         "blocks": [
  {
    "type": "text",
    "name": "banner-img",
   "settings": [
     {
          "type": "image_picker",
          "id": "Rectangle444",
          "label": "Rectangle444-img"
          }
      

   ]
  },
    {
    "type": "brand-images",
    "name": "brand-img",
   "settings": [
      {
          "type": "image_picker",
          "id": "brand-images",
          "label": "brand img"
          }

   ]
  },
    {
    "type": "0urgear-images",
    "name": "our0gear-img",
   "settings": [
      {
          "type": "image_picker",
          "id": "ourgear-slider-img",
          "label": "brand img"
          }

   ]
  },
  {
    "type": "featured-slider-images",
    "name": "featured-img",
   "settings": [
      {
          "type": "image_picker",
          "id": "featured-images",
          "label": "featured slider img"
          }

   ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}