<div class="main">
   <div class="parent">
      <div class="mx-header">
         <div class="container">
            <div>
               <img class="main-logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
            </div>
            <div class="header-desktopmenu">
               <ul class="">
                  {% for link in linklists.main-menu.links %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                  <li class="list-style {{ link.title }}" >
                     <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
                     <ul class="grandclidehideshow">
                        {% for childlink in linklists[child_list_handle].links %}
                        <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                        {% endfor %}
                     </ul>
                  </li>
                  {%- for grandchildlink in childlink.links -%}
                  <li class="list-style" >
                     <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                     {{ grandchildlink.title | escape }}
                     </a>
                  </li>
                  {%- endfor -%}
                  {% else %}
                  <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="list-style"><a class="signin-button" href="">Sign in</a></li>
                  <li class="list-style" ><img class="header-bar-icon" src="{{ section.settings.mx-search-icon | image_url }} "/></li>
                  <li class="list-style menu-icon" ><img class="header-bar-icon" src="{{ section.settings.mx-menu-icon | image_url }} "/></li>
               </ul>
            </div>
         </div>
        <div class="fixed-desktop-menu">
          <span class="menu-close-icon" ><img class="header-bar-icon" src="{{ section.settings.mx-menu-icon | image_url }} "/></span>
              <div class="menu-inner">
              </div>
        </div>
      </div>
      <div class="mx-banners">
         <div>
            <div class="mx-banner  owl-carousel owl-theme" >
               {%- for block in section.blocks -%}
               {% if block.type == "text" %}
               <div class="slider">
                  <div class="slide-banner">
                     <img class="Rectangle444-slider" src="{{ block.settings.Rectangle444 | image_url  }}">
                  </div>
                  <div class="uaes-img">
                     <img class="UAE-img" src="{{ section.settings.uae-img | image_url  }}">
                     <div class="shopnow-button-2">
                        <a class="shopnow-2" href="">SHOP NOW  <span class="left-arrow">></span></a>
                     </div>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
      <div class="top-brand-images">
         <div>
            <p class="topbrand-text">top brands</p>
         </div>
         <div>
            <img class="hide-show-icon" src="{{ section.settings.hide-show-button | image_url  }}">
         </div>
         <div class="brandimagesrotate">
            {%- for block in section.blocks -%}
            {% if block.type == "brand-images" %}
            <div class="brandimages">
               <img class="" src="{{ block.settings.brand-images | image_url  }}">
            </div>
            {% endif %}
            {% endfor %}
         </div>
      </div>
      <div class="our-gear">
         <div>
            <p class="topbrand-text">our gear</p>
         </div>
         <div class="our-gear-slider owl-carousel owl-theme " >
            {%- for block in section.blocks -%}
            {% if block.type == "0urgear-images" %}
            <div class="ourgear-slider-images">
               <div class="">
                  <img class="ourgear-slider-img" src="{{ block.settings.ourgear-slider-img | image_url  }}">
               </div>
            </div>
            {% endif %}
            {% endfor %}
         </div>
      </div>
      <div class="shop-now">
         <div>
            <p class="topbrand-text">shop now</p>
         </div>
         <div class="men-women-img">
            <div class="women-img">
               <img class="women" src="{{ section.settings.women-img | image_url  }}">
               <div class="women-text">
                  <p class="women-text-1">women</p>
                  <p class="explore-text">explore</p>
               </div>
            </div>
            <div class="men-img">
               <img class="men" src="{{ section.settings.men-img | image_url  }}">
               <div class="men-text">
                  <p class="women-text-1">men</p>
                  <p class="explore-text">explore</p>
               </div>
            </div>
         </div>
      </div>
      <div class="kids">
         <div class="kid-imge-2">
            <img class="kid" src="{{ section.settings.kids-img | image_url  }}">
         </div>
         <div class="kid-text">
            <p class="women-text-1">men</p>
            <p class="explore-text">explore</p>
         </div>
      </div>
      <div class="featured-slider">
         <div class="">
            <p class="topbrand-text">featured</p>
         </div>
         <div>
            <div class="featuredslider owl-carousel owl-theme">
               {%- for block in section.blocks -%}
               {% if block.type == "featured-slider-images" %}
               <div class="featuredimages">
                  <div class="overlay"></div>
                  <img class="featured-img" src="{{ block.settings.featured-images | image_url  }}">
                  <div class="blanck">
                     <p class="fetured-sale-text-2">sale</p>
                  </div>
                  <div>
                     <p class="fetured-sale-text">sale</p>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
      <div class="maxx-main">
         <div class="overlay"></div>
         <div class="mxo-trand">
            <div class="">
               <img class="mxo" src="{{ section.settings.mxo-images | image_url  }}">
               <div class="mxo-trand-perant">
                  <p class="mxtrade-text">mxo trade</p>
                  <p class="commyunity-text ">Commyunity Shop</p>
               </div>
            </div>
         </div>
         <div class="mxo-logos">
            <div class="mxo-logo-parent">
               <img class="mxo-logo" src="{{ section.settings.mxo-logo-images | image_url  }}">
               <div class="tradeshopnow-text">
                  <p class="trade-texts">trade</p>
                  <p class="shopnow-texts">shop now <span>></span><span class="style-arrow" >></span><span>></span> </p>
               </div>
            </div>
         </div>
      </div>
     <div class="section-1">
      <div class="vip-member-main">
         <div class="overlay"></div>
         <div class="vip-img">
            <img class="vipmember-img" src="{{ section.settings.vip-member-images | image_url  }}">
         </div>
         <div class="vip-text">
            <p class="vip-club-text ">vip member club</p>
            <p class="vip-club-explore">explore</p>
         </div>
      </div>
      <div class="charity-text">
         <div class="charity-imsges">
            <img class="charity-img" src="{{ section.settings.charity-images | image_url  }}">
         </div>
         <div class="donote">
            <h2 class="donote-text">Donote</h2>
            <p class="donote-explore">Explore</p>
         </div>
      </div>
   </div>
   <div class="section-2">  
      <div class="gift-voucher">
         <div class="overlay"></div>
         <div class="gift-images">
            <img class="giftpvoucher-img" src="{{ section.settings.gift-voucher-images | image_url  }}">
         </div>
        <div class="gift-vouchar-text">
            <h2 class="voucher-text">gift vouchar</h2>
            <p class="gift-explore-trxt">explore</p>
        </div>
      </div>
     <div class="app lounching soon">
         <div>
           <img class="lounching-img" src="{{ section.settings.app-lounching-images | image_url  }}">
         </div>
     </div>
   </div>
    <div class="motozone">
      <div class="overlay"></div>
        <div class="motozone-img">
            <img class="motozone-img" src="{{ section.settings.moto-zone-images | image_url  }}">
            <div class="motozone-text-section">
              <h2 class="motozone-text">motozone</h2> 
                <p class="logo-explore-text">explore</p>
            </div>
        </div>
        <div class="logos-text">
            <div>
              <img class="motozone-img-2" src="{{ section.settings.moto-zone-images-2 | image_url  }}">
            </div>
        </div>
    </div>
    
    <div class="upcoming-events">
        <h2 class="topbrand-text">upcoming events</h2>
      <img class="pin-img" src="{{ section.settings.pin-images | image_url  }}">
      <p class="mx-freestyle">mx freestyle jam</p>
      <p class="commening-text">commening soon!</p>
    </div>
    <div class="date-time">
      <div class="counter">
          <div class="timing-option">
              <span class='e-m-days '>0</span>
              <p>Day</p>
          </div>
          <div class="timing-option">
              <span class='e-m-days '>8</span>
              <p>Hours</p>
          </div>
          <div class="timing-option">
              <span class='e-m-days '>0</span>
              <p>Minutes</p>
          </div>
          <div class="timing-option">
              <span class='e-m-days '>1</span>
              <p>Seconds</p>
          </div>
      </div>
    </div>
      <div class="footer">
          <div class="footer-child">
              <div class="footer-brand-text">
                <p class="footer-all-brand-text">brand</p>
                <p class="footer-all-brand-text">new</p>
                <p class="footer-all-brand-text">sale</p>
                <p class="footer-all-brand-text">events</p>
                <p class="footer-all-brand-text">shop</p>
                <p class="footer-all-brand-text">become a delar</p>
              </div>
              <div>
                <img class="footer-logos-img" src="{{ section.settings.footer-logo | image_url  }}">
              </div>
              <div>
                <img class="footer-socialmedia-logo" src="{{ section.settings.whatsapp-logo | image_url  }}">
                <img style="width:20px;" class="footer-socialmedia-logo" src="{{ section.settings.livechat-logo | image_url  }}">
                <img class="footer-socialmedia-logo" src="{{ section.settings.email-logo | image_url  }}">
              </div>
          </div>
          <div class="protactivegear">
                <div class="footer-brand-text">
                <p class="footer-all-brand-text">protective gear</p>
                <p class="footer-all-brand-text">kids</p>
                <p class="footer-all-brand-text">Men</p>
                <p class="footer-all-brand-text">Women</p>
                <p class="footer-all-brand-text">Ridding gear</p>
                <p class="footer-all-brand-text">aaperical</p>
              </div>
          </div>
    </div>
   </div>
</div>
{{ 'mx-online-homepage.css' | asset_url |stylesheet_tag }}
{% schema %}
{
"name": " header ",
"settings": [
{
"type": "image_picker",
"id": "mx-online-logo",
"label": "Mx Online logo"
},
{
"type": "image_picker",
"id": "mx-search-icon",
"label": "Mx search icon"
},
{
"type": "image_picker",
"id": "mx-menu-icon",
"label": "Mx menu icon"
},
{
"type": "image_picker",
"id": "uae-img",
"label": "UAE img icon"
},
{
"type": "image_picker",
"id": "arrow-img",
"label": "arrow img icon"
},
{
"type": "image_picker",
"id": "hide-show-button",
"label": "hide shoe img icon"
},
{
"type": "image_picker",
"id": "left-arrow",
"label": "left arrows"
},
{
"type": "image_picker",
"id": "right-arrow",
"label": "right arrows"
},
{
"type": "image_picker",
"id": "women-img",
"label": "women img"
},
{
"type": "image_picker",
"id": "men-img",
"label": "men img"
},
{
"type": "image_picker",
"id": "kids-img",
"label": "kids img"
},
{
"type": "image_picker",
"id": "mxo-images",
"label": "mxo img"
},
{
"type": "image_picker",
"id": "mxo-logo-images",
"label": "mxo logo img"
},
{
"type": "image_picker",
"id": "vip-member-images",
"label": "vip member img"
},
{
"type": "image_picker",
"id": "gift-voucher-images",
"label": "gift voucher img"
},
{
"type": "image_picker",
"id": "charity-images",
"label": "charity img"
},
{
"type": "image_picker",
"id": "app-lounching-images",
"label": "app lounching img"
},
{
"type": "image_picker",
"id": "moto-zone-images",
"label": "moto zone img"
},
{
"type": "image_picker",
"id": "moto-zone-images-2",
"label": "moto zone img 2"
},
{
"type": "image_picker",
"id": "up-coming-images",
"label": "up coming img"
},
{
"type": "image_picker",
"id": "pin-images",
"label": "pin img"
},
{
"type": "image_picker",
"id": "footer-logo",
"label": "footer img"
},
{
"type": "image_picker",
"id": "email-logo",
"label": "email img"
},
  {
"type": "image_picker",
"id": "whatsapp-logo",
"label": "whatsapp img"
},
{
"type": "image_picker",
"id": "livechat-logo",
"label": "livechat img"
}


],
"blocks": [
{
"type": "text",
"name": "banner-img",
"settings": [
{
"type": "image_picker",
"id": "Rectangle444",
"label": "Rectangle444-img"
}
]
},
{
"type": "brand-images",
"name": "brand-img",
"settings": [
{
"type": "image_picker",
"id": "brand-images",
"label": "brand img"
}
]
},
{
"type": "0urgear-images",
"name": "our0gear-img",
"settings": [
{
"type": "image_picker",
"id": "ourgear-slider-img",
"label": "brand img"
}
]
},
{
"type": "featured-slider-images",
"name": "featured-img",
"settings": [
{
"type": "image_picker",
"id": "featured-images",
"label": "featured slider img"
}
]
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}