<div class="main">
  <div class="parent">
    <div class="mx-header">
      <div>
        <img class="footer1logo" src="{{ section.settings.mx-online-logo | image_url }} "/>
      </div>
      <div class="">
            <ul class="">
               {% for link in linklists.main-menu.links %}
               {% assign child_list_handle = link.title | handleize %}
               {% if linklists[child_list_handle].links != blank %}
               <li class="list-style {{ link.title }}" >
                  <a class="linktext" href="{{ link.url }}">{{ link.title }}</a>
                  <ul class="grandclidehideshow">
                     {% for childlink in linklists[child_list_handle].links %}
                     <li class="linktext" ><a class="linktext-2" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                     {% endfor %}
                  </ul>
               </li>
               {%- for grandchildlink in childlink.links -%}
               <li class="list-style" >
                  <a class="linktext" href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                  {{ grandchildlink.title | escape }}
                  </a>
               </li>
               {%- endfor -%}
               {% else %}
               <li class="list-style"><a class="linktext" href="{{ link.url }}">{{ link.title }}</a></li>
               {% endif %}
               {% endfor %}
            </ul>
         </div>
    </div>
    <div class="mx-banner">
      <div>
        <div class="brand-slider container owl-carousel owl-theme" >
          {%- for block in section.blocks -%}
        <div class="slider">
        <div class="">
          <img class="brand-images" src="{{ block.settings.Rectangle444 | image_url  }}">
        </div>
        </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<style>
  .mx-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
</style>
{% schema %}
  {
    "name": " header ",
    "settings": [
      {
      "type": "image_picker",
      "id": "mx-online-logo",
      "label": "Mx Online logo"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}