
<div class="main">
			<div class="parant">
			<div class="headertextlink">
				<div class="headermenu-textstyle">
                   <img class="hikinglife-img" src="{{ 'Design(2).png' | asset_url }}" /> 
					<a class="headermanu-text hikinglife-text" href="#">hiking Life</a>	
					<a class="headermanu-text" href="#">Home</a>
					<a class="headermanu-text" href="#">Class</a>
					<a class="headermanu-text" href="#">Promo</a>
					<a class="headermanu-text" href="#">Online Class</a>
					<a class="headermanu-text" href="#">Contact</a>
				</div>
				<div class="Discover-Your-Life">  
					<h2 class="Discover-text-bold">
						Discover Your Life next Hike
					</h2>
					<p class="Discover-text-capital">
						DISCOVER YOUR NEXT HIKE
					</p>
					<p class="lorem-text-small">
						lorem ipsum dolor sit amet, consectetur 
					</p>
					<p class="lorem-text-small">
						adipiscing alit,sed do,
					</p>
				</div>
			</div>
			<div>
				<div class="haiking-and-camping ">
					<p> <img class="crossicon" src="{{ 'icons8-close-23.png' | asset_url }}" /> HIKING AND CAMPING  </p>
					<p> <img class="crossicon" src="{{ 'icons8-close-23.png' | asset_url }}" /> <span class="CLASSES">CLASSES </span>  </p> 
				</div>
				<div class="hiking-text-img-box">
					<div class="hikig-subbox">
                      <img class="hiking-activities-img" src="{{ 'Design(4).png' | asset_url }}" /> 
						<h3>ACTIVITIES</h3>
						<p class="hiking-loren-subtext">Lorem ipsum dolor sit are amet consectrtur adipiscin, alite molesties posuere</p>
					</div>
					<div class="hikig-subbox">
                      <img class="hiking-activities-img" src="{{ 'Design(1).png' | asset_url }}" /> 
						<h3>ACTIVITIES</h3>
						<p class="hiking-loren-subtext">Lorem ipsum dolor sit are amet consectrtur adipiscin, alite molesties posuere</p>
					</div>
					<div class="hikig-subbox">
                      <img class="hiking-activities-img" src="{{ 'Design(2).png' | asset_url }}" /> 
						<h3>ACTIVITIES</h3>
						<p class="hiking-loren-subtext">Lorem ipsum dolor sit are amet consectrtur adipiscin, alite molesties posuere</p>
					</div>
				</div>
			</div>
			<div class="rock-climbing"> 
				    <div class="walking-in-nature-2">
				    	<div>
					    	<p class="rock">
					    		ROCK
					    	</p>
					    	<p class="rock">
					    		CLIMBING
					    	</p>
				    	</div>
				    	<div>
					    	<p class="classes-event">
					    		1. CLASSES & EVENTS
					    	</p>
				    		<p class="hatha">
				    		Hatha is the most classic yoga its origin is in the raya yoga of patanjali and other classical git and hatha yoga pradipika 
				    		</p>
				    	</div>
				    	<div>
				    		<p class="modules">10 modules</p>
				    		<p class="modules">divided into 7 weekends</p>
				    	</div>
				    	<div class="date-time-start">
				    		<p class="weekends-date-time">Start</p>
				    		<p class="weekends-date-time">April 15 </p>
				    		<p class="weekends-date-time"> 20.00 hs </p>
				    	</div>
				    	<div class="date-time-start">
				    		<p>price</p>
				    		<p>$900</p>
				    	</div>
				    </div>
				    <div class="walking-in-nature">
				    	<div>
                            <img class="nature" src="{{ 'Design.png' | asset_url }}" /> 
				    		<p class="recreational-activity recreational-activity-copy-2" > walking in nature as s recreational activity </p> 
				    	</div>
				    </div>
			</div>
			<div>
					<div class="big-bend-national">
						<div class="big-bang-all-text">
							<p class="big-bend-national-text">BIG BEND NATIONAL PARK HIKING GUIDE </p>
							<p class="this-hike-text">THIS HIKE IS THE NEXT BEST OPTION .</p>
							<p class="lorem-text">LOREM IPSUM</p>
							<button class="see-more-button">see more</button>
						</div>
					</div>
			</div>
			<div style=" margin-top: 5%; ">
					
					<h2 class="how-to-recover">HOW TO RECOVER FROM A HIKE</h2>
			<div class="recover-form-hike" >
				
					<div class="walking-in-nature-2">
						<div class="recover-form">
                        <img class="bag-icon" src="{{ 'Design(4).png' | asset_url }}" /> 
						<div class=" recover-hike-text ">
						<p class="dolor-sit-text"> - Lorem ipsum</p>
						<p class="dolor-sit-text"> - Dolor sit amet consectetur</p>
						<p class="dolor-sit-text"> - Adipiscing elit aptent</p>
						<p class="dolor-sit-text"> - Torquent , interdum </p>
					</div>
					</div>
					<div class="recover-form">
                        <img class="bag-icon" src="{{ 'Design(1).png' | asset_url }}" /> 
						<div class="recover-hike-text">
						<p class="dolor-sit-text"> - Lorem ipsum</p>
						<p class="dolor-sit-text"> - Dolor sit amet consectetur</p>
						<p class="dolor-sit-text"> - Adipiscing elit aptent</p>
						<p class="dolor-sit-text"> - Torquent , interdum </p>
						</div>
					</div>
					<div class="recover-form">
                        <img class="bag-icon" src="{{ 'Design(2).png' | asset_url }}" /> 
						<div class="recover-hike-text">
						<p class="dolor-sit-text"> - Lorem ipsum</p>
						<p class="dolor-sit-text"> - Dolor sit amet consectetur</p>
						<p class="dolor-sit-text"> - Adipiscing elit aptent</p>
						<p class="dolor-sit-text"> - Torquent , interdum </p>
						</div>
					</div>
					</div>
					<div class="walking-in-nature">
				    	<div>
                          
				    		<img class=" nature "  src="{{ 'Design.png' | asset_url }}">
				    		<p class="recreational-activity recreational-activity-2"> walking in nature as s recreational activity </p> 
				    	</div>
				    </div>
			</div>
			<div class="walking-in-activities">
					<div class="dolor-sit-amet">
						<p class="walking-text">walking in nature as a recreational activities</p>
						<p style="font-size: 30px;">. ACTIVITIES</p>
						<p class="consectetur-adip">Lorem ipsum dolor sit amet consectetur adip</p>
					</div>
			</div>
			<div class="places-to-visit">
					<p class="Place-autumn">PLACES TO VISIT IN AUTUMN</p>
				<div class="Mountain-Loop-option">
						
					<div class="Mountain-Loop-option-style">
                      
						<img class="Mountain-Loop-img"  src="{{ 'Design(2).png' | asset_url }}">
						<img class="dots"  src="{{ 'icons8-menu-vertical-18.png' | asset_url }}">
							<div>
								<p class="Mountain-Loop-text">Mountain Loop</p>
								<p class="Mountain-Loop-text-2">Lorem ipsum sit amet consecteture adipisicing...</p>
								<p class="location-text">Location<span class="miles-text">0.3 miles.</span></p>
							</div>
							
					</div>
					<div class="Mountain-Loop-option-style">
						<img class="Mountain-Loop-img"  src="{{ 'Design(2).png' | asset_url }}">
						<img class="dots"  src="{{ 'icons8-menu-vertical-18.png' | asset_url }}">
							<div>
								<p class="Mountain-Loop-text">Mountain Loop</p>
								<p class="Mountain-Loop-text-2">Lorem ipsum sit amet consecteture adipisicing...</p>
								<p class="location-text">Location<span class="miles-text">0.3 miles.</span></p>
							</div>
							
					</div>
					<div class="Mountain-Loop-option-style">
						<img class="Mountain-Loop-img"  src="{{ 'Design(2).png' | asset_url }}">
						<img class="dots"  src="{{ 'icons8-menu-vertical-18.png' }}">
							<div>
								<p class="Mountain-Loop-text">Mountain Loop</p>
								<p class="Mountain-Loop-text-2">Lorem ipsum sit amet consecteture adipisicing...</p>
								<p class="location-text">Location<span class="miles-text">0.3 miles.</span></p>
							</div>
							
					</div>
				</div>
				<div class="rock-climbing rock-climbing-2"> 
					<div class="walking-in-nature">
				    	<div class="walking-in-nature-other-copy">
				    		<img class=" nature "  src="{{ 'Design.png' | asset_url }}">
				    		<p class="recreational-activity recreational-activity-other-copy"> walking in nature as s recreational activity </p> 
				    	</div>
				    </div>
				    <div class="walking-in-nature-2 walking-in-nature-2-other-option">
				    	<div>
					    	<p class="rock">
					    		ROCK
					    	</p>
					    	<p class="rock">
					    		CLIMBING
					    	</p>
				    	</div>
				    	<div>
					    	<p class="classes-event">
					    		1. CLASSES & EVENTS
					    	</p>
				    		<p class="hatha hatha-2">
				    		Hatha is the most classic yoga its origin is in the raya yoga of patanjali and other classical git and hatha yoga pradipika 
				    		</p>
				    	</div>
				    	<div>
				    		<p class="modules-2">10 modules</p>
				    		<p class="modules-2">divided into 7 weekends</p>
				    	</div>
				    	<div class="date-time-start">
				    		<p class="weekends-date-time">Start</p>
				    		<p class="weekends-date-time">April 15 </p>
				    		<p class="weekends-date-time"> 20.00 hs </p>
				    	</div>
				    	<div class="date-time-start">
				    		<p>price</p>
				    		<p>$900</p>
				    	</div>
				    </div>
				    
			</div>
					<div class="big-bend-national big-bend-national-2">

						<p class="the-asanus-purify">The asanus purify our body and keep it healthy, making it a suita - ble vehicle for the soul </p>

						<img class="hikinglife-img hikinglife-img-2"   src="{{ 'Design(2).png' }}">
						<button class="see-more-button see-more-button-2">see more</button>
					</div>
						
			</div>
			<div style="border-bottom: 10px solid #0cc4df;">

				<div class="footer">
					<div>
						<div>
							<p class="about-text">ABOUT</p>
							<p style="width: 75%; font-size: 21px; color: #00000094;">Lorem ipsum dolor sit amet , consec trtur adipising elit, sed do elumod tempor incidi-dunt ultiman quantum </p>


							<img class="hikinglife-img"  src="{{ 'Design(2).png' }}">
					<a class="headermanu-text hikinglife-text" href="#">hiking Life</a>	
						</div>
					</div>
					<div class="footer-option">
						<h5 class="about-text">ABOUT</h5>
						<p class="team-text">Team</p>
						<p class="team-text">Join us</p>
						<p class="team-text">Ethic</p>
						<p class="team-text">Goals</p>
					</div>
					<div class="footer-option">
						<h5 class="about-text">ABOUT</h5>
						<p class="team-text">Team</p>
						<p class="team-text">Join us</p>
						<p class="team-text">Ethic</p>
						<p class="team-text">Goals</p>
					</div>
					<div class="footer-option">
						<h5 class="about-text">ABOUT</h5>
						<p class="team-text">Team</p>
						<p class="team-text">Join us</p>
						<p class="team-text">Ethic</p>
						<p class="team-text">Goals</p>
					</div>
				
				</div>
			</div>
			</div>
			
			</div>
		</div>

{{ 'demo-home-page-css.css' | asset_url |stylesheet_tag }}